[Desktop Entry]
Version=1.0
Name=Show Desktop
Comment=Hide all windows and show the desktop
Exec=xdotool key --clearmodifiers Control+Alt+d
Icon=widgets
Terminal=false
Type=Application
Categories=XFCE;GTK;Settings;DesktopSettings;X-XFCE-SettingsDialog;X-XFCE-PersonalSettings;
OnlyShowIn=XFCE;
StartupNotify=false
X-XfcePluggable=true
X-XfceHelpComponent=xfdesktop
X-XfceHelpPage=start
X-XfceHelpVersion=4.18
Path=
X-XFCE-Source=file:///home/alectro/.local/share/applications/xfce-backdrop-settings.desktop
