/* ---- Write in Code ---- */

* {
    font-family: "Windows 10 Panel Font, FiraCode Nerd Font";
    font-weight: bold;
    min-height: 0;
    padding: 1px;
    font-size: 96%;
    font-feature-settings: '"zero", "ss01", "ss02", "ss03", "ss04", "ss05", "cv31"';
    margin-top: 1px;
    margin-bottom: 1px;
    }
    
    window#waybar {
    	background-color: rgba(0, 0, 0, 0.5);
        border: 3px solid rgba(255, 255, 255, 0.5);
        transition-property: background-color;
        transition-duration: .5s;
        border-radius: 5px;
    }
    
    window#waybar.empty {
        background-color: transparent;
    }

    window#waybar.chromium {
    	border: none;
    }
    
    window#waybar.empty #window {
        padding: 0px;
        margin: 0px;
        border: 0px;
        background-color: transparent;
    }
    
    window {
        font-weight: bold;
    }
    
    tooltip {
        opacity: 0.8;
        border-radius: 10px;
        border-width: 2px;
        border-style: solid;
    }
    
    #custom-menu {
        border-radius: 5px;
        margin-left: 3px;
    }

    #workspaces {
    	font-size: 10px;
        background-color: transparent;
        border: solid 5px transparent;
        border-radius: 5px;
    }

    #workspaces button {
        padding: 0px 5px;
        margin: 0px 3px;
        border-radius: 16px;
        background-color: rgba(0, 0, 0, 0.5);
        transition: all 0.3s ease-in-out;
    }
    
    #workspaces button:hover {
        box-shadow: inherit;
        border-radius: 16px;
    }

    #workspaces button.active {
        background-color: rgba(255, 255, 255, 0.5);
        box-shadow:inherit;
        border-radius: 16px;
        min-width: 50px;
        transition: all 0.3s ease-in-out;
    }
    
    #backlight,
    #battery,
    #bluetooth,
    #cava,
    #clock,
    #cpu,
    #disk,
    #idle_inhibitor,
    #memory,
    #mode,
    #network,
    #network\#speed,
    #pulseaudio,
    #temperature,
    #tray,
    #custom-keybinds,
    #custom-menu,
    #custom-weather {
        padding: 0px 6px;
        margin-bottom: -1px;
    }
    
    #tray,
    #custom-waybarstyle,
    #custom-power-wlogout,
    #custom-notification,
    #custom-reload,
    #custom-thunarasroot {
    	margin-bottom: -1px;
    }

    #backlight {
    	font-size: 16px;
    }
    
    #pulseaudio {
        font-size: 16px;
    }
    
    #custom-media {
        min-width: 100px;
    }
    
    #tray {
    	font-size: 16px;
    	margin-right: -3px;
    	margin-top: -1px;
    }
    
    #tray > .passive {
        -gtk-icon-effect: dim;
    }
    
    #tray > .needs-attention {
        -gtk-icon-effect: highlight;
    }
    
    #language {
        padding: 0 5px;
        margin: 0 5px;
        min-width: 16px;
    }
    
    #keyboard-state {
        padding: 0 0px;
        margin: 0 5px;
        min-width: 16px;
    }
    
    #keyboard-state > label {
        padding: 0 5px;
    }
    
    #custom-waybarstyle {
        font-size: 16px;
        margin-right: 8px;
        margin-bottom: -1px;
    }    

    #custom-notification {
        font-size: 10px;
        margin-bottom: -1px;
    }
    
    #custom-reload {
        font-size: 16px;
        margin-right: 8px;
        margin-bottom: -1px;
    }
    
    #custom-power-wlogout {
        font-size: 16px;
        margin-right: 10px;
        margin-bottom: -1px;
    }

    #custom-thunarasroot {
    	margin-bottom: -1px;
    }