/* ---- Write in Code ---- */

/* see https://developer.mozilla.org/en-US/docs/Web/CSS/named-color to get color */

* {
    font-family: "Windows 10 Panel Font, FiraCode Nerd Font";
    font-weight: bold;
    min-height: 0;
    padding: 1px;
    font-size: 96%;
    font-feature-settings: '"zero", "ss01", "ss02", "ss03", "ss04", "ss05", "cv31"';
    margin-top: 1px;
    margin-bottom: 1px;
    }
    
    window#waybar {
    	background-color: rgba(0, 0, 0, 0.5);
        border-left: 3px solid rgba(255, 99, 71, 0.5);
        border-top: 3px solid rgba(0, 164, 239, 0.5);
        border-right: 3px solid rgba(238, 130, 238, 0.5);
    	border-bottom: 3px solid rgba(106, 208, 255, 0.5);
        transition-property: background-color;
        transition-duration: .5s;
        border-radius: 5px;
    }
    
    window#waybar.empty {
        background-color: transparent;
    }
    
    window#waybar.solo {
    	background-color: #ffffff;
    
    }
    
    window#waybar.termite {
    	background-color: #3f3f3f;
    }

    window#waybar.chromium {
    	background-color: #000000;
    	border: none;
    }
    
    window#waybar.empty #window {
        padding: 0px;
        margin: 0px;
        border: 0px;
        background-color: transparent;
    }
    
    window > box {
        background-color: rgba(0, 0, 0, 0);
        border-bottom: 1px solid rgba(0, 0, 0, 0);
        color: #ffffff;
    }
    
    window {
        font-weight: bold;
    }
    
    tooltip {
        color: #ffffff;
        background-color: #1e1e1e;
        opacity: 0.8;
        border-radius: 10px;
        border-width: 2px;
        border-style: solid;
        border-color: #ffffff;
    }
    
    tooltip label {
        color: #cdd6f4;
    }
    
    #custom-menu {
        background-color: #2777ff;
        color: #ffffff;
        border-radius: 5px;
        margin-left: 3px;
    }

    #workspaces {
    	font-size: 10px;
        background-color: #367bf0;
        border: solid 5px #367bf0;
        border-radius: 5px;
    }

    #workspaces button {
        padding: 0px 5px;
        margin: 0px 3px;
        border-radius: 16px;
        background-color: #123456;
        transition: all 0.3s ease-in-out;
    }

    #workspaces button.focused {
        background-color: rgba(0, 85, 102, 0);
    }
    
    #workspaces button:hover {
        box-shadow: inherit;
        background-color: rgba(0, 153, 153, 0);
        border-radius: 16px;
    }

    #workspaces button.active {
        background-color: #abcdef;
        box-shadow:inherit;
        border-radius: 16px;
        min-width: 50px;
        transition: all 0.3s ease-in-out;
    }
    
    #workspaces button.urgent {
        background-color: #B4254B;
    }
    
    #backlight,
    #battery,
    #bluetooth,
    #cava,
    #clock,
    #cpu,
    #disk,
    #idle_inhibitor,
    #keyboard-state label,
    #keyboard-state label.locked,
    #keyboard-state,
    #memory,
    #mode,
    #mpd,
    #network,
    #network\#speed,
    #pulseaudio,
    #taskbar button,
    #taskbar,
    #temperature,
    #tray,
    #window,
    #wireplumber,
    #workspaces,
    #custom-cycle_wall,
    #custom-keybinds,
    #custom-light_dark,
    #custom-lock,
    #custom-menu,
    #custom-power_vertical,
    #custom-power,
    #custom-spotify,
    #custom-updater,
    #custom-weather,
    #custom-weather.clearNight,
    #custom-weather.cloudyFoggyDay,
    #custom-weather.cloudyFoggyNight,
    #custom-weather.default 
    #custom-weather.rainyDay,
    #custom-weather.rainyNight,
    #custom-weather.severe,
    #custom-weather.showyIcyDay,
    #custom-weather.snowyIcyNight,
    #custom-weather.sunnyDay {
        padding: 0px 6px;
        margin-bottom: -1px;
    }
    #mode {
        color: #cc3436;
        font-weight: bold;
    }
    #custom-power {
        margin: 5px 5px;
        padding: 1px 3px;
    }
    #clock {
        background-color: #64727D;
        border-radius: 5px;
    }
    
    #battery {
        background-color: #ffffff;
        color: #000000;
        border-radius: 5px;
    }
    
    #battery.charging, 
    #battery.plugged {
        color: #ffffff;
        background-color: #26A65B;
    }
    
    @keyframes blink {
        to {
            background-color: #ff0000;
            color: #000000;
        }
    }
    
    #battery.critical:not(.charging) {
        background-color: #f53c3c;
        color: #ffffff;
        animation-name: blink;
        animation-duration: 0.5s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
        animation-direction: alternate;
    }
    
    label:focus {
        background-color: #000000;
    }
    
    #bluetooth {
        background-color: #2559b0;
        border-radius: 5px;
    }

    #bluetooth.disabled {
        background-color: #f53c3c;
        border-radius: 5px;
    }

    #cpu {
        background-color: #2ecc71;
        color: #ffffff;
        border-radius: 5px;
    }
    
    #memory {
        background-color: #9b59b6;
        border-radius: 5px;
    }
    
    #disk {
        background-color: #964B00;
        border-radius: 5px;
    }
    
    #backlight {
    	font-size: 16px;
        color: #f0ffff;
        background-color: #90b1b1;
        border-radius: 5px;
    }
    
    #network {
        background-color: #2980b9;
        border-radius: 5px;
    }
    
    #network.disconnected {
        background-color: #f53c3c;
        border-radius: 5px;
    }
    
    #pulseaudio {
        font-size: 16px;
        background-color: #f1c40f;
        color: #ffffff;
        border-radius: 5px;
    }
    
    #pulseaudio.muted {
        background-color: #90b1b1;
        color: #2a5c45;
    }
    
    #custom-media {
        background-color: #66cc99;
        color: #2a5c45;
        min-width: 100px;
    }
    
    #custom-media.custom-spotify {
        background-color: #66cc99;
    }
    
    #custom-media.custom-vlc {
        background-color: #ffa000;
    }
    
    #temperature {
        background-color: #f0932b;
        border-radius: 5px;
    }
    
    #temperature.critical {
        background-color: #eb4d4b;
    }
    
    #tray {
        background-color: #2980b9;
        border-radius: 5px;
    }
    
    #tray > .passive {
        -gtk-icon-effect: dim;
    }
    
    #tray > .needs-attention {
        -gtk-icon-effect: highlight;
        background-color: #eb4d4b;
    }
    
    #idle_inhibitor {
        background-color: #2d3436;
        border-radius: 5px;
    }
    
    #idle_inhibitor.activated {
        background-color: #ecf0f1;
        color: #2d3436;
        border-radius: 5px;
    }
    
    #mpd {
        background-color: #66cc99;
        color: #2a5c45;
    }
    
    #mpd.disconnected {
        background-color: #f53c3c;
    }
    
    #mpd.stopped {
        background-color: #90b1b1;
    }
    
    #mpd.paused {
        background-color: #51a37a;
    }
    
    #language {
        background-color: #00b093;
        color: #740864;
        padding: 0 5px;
        margin: 0 5px;
        min-width: 16px;
    }
    
    #keyboard-state {
        background-color: #97e1ad;
        color: #000000;
        padding: 0 0px;
        margin: 0 5px;
        min-width: 16px;
    }
    
    #keyboard-state > label {
        padding: 0 5px;
    }
    
    #keyboard-state > label.locked {
        background-color: rgba(0, 0, 0, 0.2);
    }
    
    #scratchpad {
    	background-color: rgba(0, 0, 0, 0.2);
    }

    #scratchpad.empty {
	background-color: transparent;
    }
    
    #custom-waybarstyle {
        font-size: 16px;
        color: #d2b48c;
        background-color: #663399;
        border-radius: 5px;
        margin-bottom: -1px;
    }
    
    #custom-keybinds {
        background-color: #ffffff;
        color: #000000;
        border-radius: 5px;
    }
    
    #custom-power-wlogout {
        font-size: 16px;
        color: #fafad2;
        background-color: #f1c40f;
        border-radius: 5px;
        margin-right: 3px;
        margin-bottom: -1px;
    }
    
    #custom-weather {
        color: #e6e6e6;
        background-color: #483d8b;
        border-radius: 5px;
    }
    
    #taskbar {
        background-color: #f53c3c;
        color: #000000;
        border-radius: 5px;
    }    

    #custom-notification {
        font-size: 16px;
        background-color: #654321;
        border-radius: 5px;
        margin-bottom: -1px;
    }

    #custom-reload {
        font-size: 16px;
        color: #fedcba;
        background-color: #32c832;
        border-radius: 5px;
        margin-bottom: -1px;
    }