[Desktop Entry]
Name=Hyper V
Comment=Interactively dump and analyze network traffic
Encoding=UTF-8
Exec=wireshark
Icon=/usr/share/pixmaps/hyper-v.png
Type=Application
X-XFCE-Source=file://$HOME/.local/share/applications/hyper-v.desktop
