[Desktop Entry]
Version=1.1
Type=Application
Name=BleachBit (as root)
Comment=Free space and maintain privacy
GenericName=Unnecessary file cleaner
TryExec=pkexec
Exec=pkexec bleachbit
Icon=bleachbit
Categories=System;FileTools;GTK;
Keywords=cache;clean;free;performance;privacy;
StartupNotify=true
X-GNOME-UsesNotifications=true
Hidden=true