[Desktop Entry]
Version=1.1
Type=Application
Name=BleachBit (as root)
Comment=Free space and maintain privacy
Comment[af]=Free space and maintain privacy
Comment[ar]=Free space and maintain privacy
Comment[ast]=Free space and maintain privacy
Comment[be]=Free space and maintain privacy
Comment[bg]=Free space and maintain privacy
Comment[bn]=Free space and maintain privacy
Comment[bs]=Free space and maintain privacy
Comment[ca]=Free space and maintain privacy
Comment[cs]=Free space and maintain privacy
Comment[da]=Free space and maintain privacy
Comment[de]=Free space and maintain privacy
Comment[el]=Free space and maintain privacy
Comment[eo]=Free space and maintain privacy
Comment[es]=Free space and maintain privacy
Comment[et]=Free space and maintain privacy
Comment[eu]=Free space and maintain privacy
Comment[fa]=Free space and maintain privacy
Comment[fi]=Free space and maintain privacy
Comment[fr]=Free space and maintain privacy
Comment[gl]=Free space and maintain privacy
Comment[he]=Free space and maintain privacy
Comment[hi]=Free space and maintain privacy
Comment[hr]=Free space and maintain privacy
Comment[hu]=Free space and maintain privacy
Comment[ia]=Free space and maintain privacy
Comment[id]=Free space and maintain privacy
Comment[ie]=Free space and maintain privacy
Comment[it]=Free space and maintain privacy
Comment[ja]=Free space and maintain privacy
Comment[ko]=Free space and maintain privacy
Comment[ku]=Free space and maintain privacy
Comment[lt]=Free space and maintain privacy
Comment[ms]=Free space and maintain privacy
Comment[nb]=Free space and maintain privacy
Comment[nl]=Free space and maintain privacy
Comment[nn]=Free space and maintain privacy
Comment[pl]=Free space and maintain privacy
Comment[pt]=Free space and maintain privacy
Comment[pt_BR]=Free space and maintain privacy
Comment[ro]=Free space and maintain privacy
Comment[ru]=Free space and maintain privacy
Comment[sk]=Free space and maintain privacy
Comment[sl]=Free space and maintain privacy
Comment[sq]=Free space and maintain privacy
Comment[sr]=Free space and maintain privacy
Comment[sv]=Free space and maintain privacy
Comment[ta]=Free space and maintain privacy
Comment[te]=Free space and maintain privacy
Comment[th]=Free space and maintain privacy
Comment[tr]=Free space and maintain privacy
Comment[uk]=Free space and maintain privacy
Comment[uz]=Free space and maintain privacy
Comment[vi]=Free space and maintain privacy
Comment[yi]=Free space and maintain privacy
Comment[zh_CN]=Free space and maintain privacy
Comment[zh_TW]=Free space and maintain privacy
GenericName=Unnecessary file cleaner
GenericName[af]=Unnecessary file cleaner
GenericName[ar]=Unnecessary file cleaner
GenericName[ast]=Unnecessary file cleaner
GenericName[be]=Unnecessary file cleaner
GenericName[bg]=Unnecessary file cleaner
GenericName[bn]=Unnecessary file cleaner
GenericName[bs]=Unnecessary file cleaner
GenericName[ca]=Unnecessary file cleaner
GenericName[cs]=Unnecessary file cleaner
GenericName[da]=Unnecessary file cleaner
GenericName[de]=Unnecessary file cleaner
GenericName[el]=Unnecessary file cleaner
GenericName[eo]=Unnecessary file cleaner
GenericName[es]=Unnecessary file cleaner
GenericName[et]=Unnecessary file cleaner
GenericName[eu]=Unnecessary file cleaner
GenericName[fa]=Unnecessary file cleaner
GenericName[fi]=Unnecessary file cleaner
GenericName[fr]=Unnecessary file cleaner
GenericName[gl]=Unnecessary file cleaner
GenericName[he]=Unnecessary file cleaner
GenericName[hi]=Unnecessary file cleaner
GenericName[hr]=Unnecessary file cleaner
GenericName[hu]=Unnecessary file cleaner
GenericName[ia]=Unnecessary file cleaner
GenericName[id]=Unnecessary file cleaner
GenericName[ie]=Unnecessary file cleaner
GenericName[it]=Unnecessary file cleaner
GenericName[ja]=Unnecessary file cleaner
GenericName[ko]=Unnecessary file cleaner
GenericName[ku]=Unnecessary file cleaner
GenericName[ky]=Unnecessary file cleaner
GenericName[lt]=Unnecessary file cleaner
GenericName[ms]=Unnecessary file cleaner
GenericName[nb]=Unnecessary file cleaner
GenericName[nl]=Unnecessary file cleaner
GenericName[nn]=Unnecessary file cleaner
GenericName[pl]=Unnecessary file cleaner
GenericName[pt]=Unnecessary file cleaner
GenericName[pt_BR]=Unnecessary file cleaner
GenericName[ro]=Unnecessary file cleaner
GenericName[ru]=Unnecessary file cleaner
GenericName[sk]=Unnecessary file cleaner
GenericName[sl]=Unnecessary file cleaner
GenericName[sq]=Unnecessary file cleaner
GenericName[sr]=Unnecessary file cleaner
GenericName[sv]=Unnecessary file cleaner
GenericName[ta]=Unnecessary file cleaner
GenericName[te]=Unnecessary file cleaner
GenericName[th]=Unnecessary file cleaner
GenericName[tr]=Unnecessary file cleaner
GenericName[uk]=Unnecessary file cleaner
GenericName[uz]=Unnecessary file cleaner
GenericName[vi]=Unnecessary file cleaner
GenericName[yi]=Unnecessary file cleaner
GenericName[zh_CN]=Unnecessary file cleaner
GenericName[zh_TW]=Unnecessary file cleaner
TryExec=pkexec
Exec=pkexec bleachbit
Icon=bleachbit
Categories=System;FileTools;GTK;
Keywords=cache;clean;free;performance;privacy;
StartupNotify=true
X-GNOME-UsesNotifications=true
Hidden=true

