[Desktop Entry]
Name=Bluetooth Manager
Name[ast]=Bluetooth Manager
Name[be]=Bluetooth Manager
Name[ca]=Bluetooth Manager
Name[da]=Bluetooth Manager
Name[de]=Bluetooth Manager
Name[el]=Bluetooth Manager
Name[es]=Bluetooth Manager
Name[et]=Bluetooth Manager
Name[fi]=Bluetooth Manager
Name[fr]=Bluetooth Manager
Name[he]=Bluetooth Manager
Name[hr]=Bluetooth Manager
Name[hu]=Bluetooth Manager
Name[it]=Bluetooth Manager
Name[ja]=Bluetooth Manager
Name[ko]=Bluetooth Manager
Name[lt]=Bluetooth Manager
Name[nb]=Bluetooth Manager
Name[nl]=Bluetooth Manager
Name[oc]=Bluetooth Manager
Name[pl]=Bluetooth Manager
Name[pt]=Bluetooth Manager
Name[pt_BR]=Bluetooth Manager
Name[ru]=Bluetooth Manager
Name[sk]=Bluetooth Manager
Name[sl]=Bluetooth Manager
Name[sv]=Bluetooth Manager
Name[tr]=Bluetooth Manager
Name[uk]=Bluetooth Manager
Name[vi]=Bluetooth Manager
Name[zh_CN]=Bluetooth Manager
Comment=Blueman Bluetooth Manager
Comment[ast]=Blueman Bluetooth Manager
Comment[be]=Blueman Bluetooth Manager
Comment[ca]=Blueman Bluetooth Manager
Comment[da]=Blueman Bluetooth Manager
Comment[de]=Blueman Bluetooth Manager
Comment[el]=Blueman Bluetooth Manager
Comment[es]=Blueman Bluetooth Manager
Comment[et]=Blueman Bluetooth Manager
Comment[fi]=Blueman Bluetooth Manager
Comment[fr]=Blueman Bluetooth Manager
Comment[he]=Blueman Bluetooth Manager
Comment[hr]=Blueman Bluetooth Manager
Comment[hu]=Blueman Bluetooth Manager
Comment[it]=Blueman Bluetooth Manager
Comment[ja]=Blueman Bluetooth Manager
Comment[ko]=Blueman Bluetooth Manager
Comment[lt]=Blueman Bluetooth Manager
Comment[nb]=Blueman Bluetooth Manager
Comment[nl]=Blueman Bluetooth Manager
Comment[oc]=Blueman Bluetooth Manager
Comment[pl]=Blueman Bluetooth Manager
Comment[pt]=Blueman Bluetooth Manager
Comment[pt_BR]=Blueman Bluetooth Manager
Comment[ru]=Blueman Bluetooth Manager
Comment[sk]=Blueman Bluetooth Manager
Comment[sl]=Blueman Bluetooth Manager
Comment[sv]=Blueman Bluetooth Manager
Comment[tr]=Blueman Bluetooth Manager
Comment[uk]=Blueman Bluetooth Manager
Comment[zh_CN]=Blueman Bluetooth Manager
Icon=blueman
Exec=blueman-manager
Terminal=false
Type=Application
StartupNotify=true
Categories=GTK;GNOME;Settings;HardwareSettings;
Hidden=true

