[Desktop Entry]
Name=Dconf Editor
Name[af]=Dconf Editor
Name[an]=Dconf Editor
Name[ar]=Dconf Editor
Name[as]=Dconf Editor
Name[be]=Dconf Editor
Name[bg]=Dconf Editor
Name[bn_IN]=Dconf Editor
Name[bs]=Dconf Editor
Name[ca]=Dconf Editor
Name[ca@valencia]=Dconf Editor
Name[cs]=Dconf Editor
Name[da]=Dconf Editor
Name[de]=Dconf Editor
Name[el]=Dconf Editor
Name[en_GB]=Dconf Editor
Name[eo]=Dconf Editor
Name[es]=Dconf Editor
Name[et]=Dconf Editor
Name[eu]=Dconf Editor
Name[fa]=Dconf Editor
Name[fi]=Dconf Editor
Name[fr]=Dconf Editor
Name[fur]=Dconf Editor
Name[gl]=Dconf Editor
Name[he]=Dconf Editor
Name[hi]=Dconf Editor
Name[hr]=Dconf Editor
Name[hu]=Dconf Editor
Name[id]=Dconf Editor
Name[is]=Dconf Editor
Name[it]=Dconf Editor
Name[ja]=Dconf Editor
Name[kk]=Dconf Editor
Name[ko]=Dconf Editor
Name[lt]=Dconf Editor
Name[lv]=Dconf Editor
Name[ml]=Dconf Editor
Name[mr]=Dconf Editor
Name[ms]=Dconf Editor
Name[nb]=Dconf Editor
Name[ne]=Dconf Editor
Name[nl]=Dconf Editor
Name[oc]=Dconf Editor
Name[pa]=Dconf Editor
Name[pl]=Dconf Editor
Name[pt]=Dconf Editor
Name[pt_BR]=Dconf Editor
Name[ro]=Dconf Editor
Name[ru]=Dconf Editor
Name[sk]=Dconf Editor
Name[sl]=Dconf Editor
Name[sr]=Dconf Editor
Name[sr@latin]=Dconf Editor
Name[sv]=Dconf Editor
Name[ta]=Dconf Editor
Name[te]=Dconf Editor
Name[tg]=Dconf Editor
Name[th]=Dconf Editor
Name[tr]=Dconf Editor
Name[ug]=Dconf Editor
Name[uk]=Dconf Editor
Name[vi]=Dconf Editor
Name[zh_CN]=Dconf Editor
Name[zh_HK]=Dconf Editor
Name[zh_TW]=Dconf Editor
GenericName=Configuration editor for dconf
GenericName[be]=Configuration editor for dconf
GenericName[bg]=Configuration editor for dconf
GenericName[ca]=Configuration editor for dconf
GenericName[ca@valencia]=Configuration editor for dconf
GenericName[cs]=Configuration editor for dconf
GenericName[da]=Configuration editor for dconf
GenericName[de]=Configuration editor for dconf
GenericName[el]=Configuration editor for dconf
GenericName[en_GB]=Configuration editor for dconf
GenericName[es]=Configuration editor for dconf
GenericName[eu]=Configuration editor for dconf
GenericName[fa]=Configuration editor for dconf
GenericName[fi]=Configuration editor for dconf
GenericName[fr]=Configuration editor for dconf
GenericName[fur]=Configuration editor for dconf
GenericName[gl]=Configuration editor for dconf
GenericName[he]=Configuration editor for dconf
GenericName[hr]=Configuration editor for dconf
GenericName[hu]=Configuration editor for dconf
GenericName[id]=Configuration editor for dconf
GenericName[it]=Configuration editor for dconf
GenericName[ja]=Configuration editor for dconf
GenericName[kk]=Configuration editor for dconf
GenericName[ko]=Configuration editor for dconf
GenericName[lt]=Configuration editor for dconf
GenericName[lv]=Configuration editor for dconf
GenericName[ml]=Configuration editor for dconf
GenericName[ms]=Configuration editor for dconf
GenericName[nb]=Configuration editor for dconf
GenericName[ne]=Configuration editor for dconf
GenericName[nl]=Configuration editor for dconf
GenericName[oc]=Configuration editor for dconf
GenericName[pl]=Configuration editor for dconf
GenericName[pt]=Configuration editor for dconf
GenericName[pt_BR]=Configuration editor for dconf
GenericName[ro]=Configuration editor for dconf
GenericName[ru]=Configuration editor for dconf
GenericName[sk]=Configuration editor for dconf
GenericName[sl]=Configuration editor for dconf
GenericName[sr]=Configuration editor for dconf
GenericName[sr@latin]=Configuration editor for dconf
GenericName[sv]=Configuration editor for dconf
GenericName[tr]=Configuration editor for dconf
GenericName[uk]=Configuration editor for dconf
GenericName[zh_CN]=Configuration editor for dconf
GenericName[zh_TW]=Configuration editor for dconf
Comment=Directly edit your entire configuration database
Comment[an]=Directly edit your entire configuration database
Comment[ar]=Directly edit your entire configuration database
Comment[as]=Directly edit your entire configuration database
Comment[be]=Directly edit your entire configuration database
Comment[bg]=Directly edit your entire configuration database
Comment[bn_IN]=Directly edit your entire configuration database
Comment[bs]=Directly edit your entire configuration database
Comment[ca]=Directly edit your entire configuration database
Comment[ca@valencia]=Directly edit your entire configuration database
Comment[cs]=Directly edit your entire configuration database
Comment[da]=Directly edit your entire configuration database
Comment[de]=Directly edit your entire configuration database
Comment[el]=Directly edit your entire configuration database
Comment[en_GB]=Directly edit your entire configuration database
Comment[eo]=Directly edit your entire configuration database
Comment[es]=Directly edit your entire configuration database
Comment[et]=Directly edit your entire configuration database
Comment[eu]=Directly edit your entire configuration database
Comment[fa]=Directly edit your entire configuration database
Comment[fi]=Directly edit your entire configuration database
Comment[fr]=Directly edit your entire configuration database
Comment[fur]=Directly edit your entire configuration database
Comment[gl]=Directly edit your entire configuration database
Comment[he]=Directly edit your entire configuration database
Comment[hi]=Directly edit your entire configuration database
Comment[hr]=Directly edit your entire configuration database
Comment[hu]=Directly edit your entire configuration database
Comment[id]=Directly edit your entire configuration database
Comment[is]=Directly edit your entire configuration database
Comment[it]=Directly edit your entire configuration database
Comment[ja]=Directly edit your entire configuration database
Comment[kk]=Directly edit your entire configuration database
Comment[ko]=Directly edit your entire configuration database
Comment[lt]=Directly edit your entire configuration database
Comment[lv]=Directly edit your entire configuration database
Comment[ml]=Directly edit your entire configuration database
Comment[mr]=Directly edit your entire configuration database
Comment[ms]=Directly edit your entire configuration database
Comment[nb]=Directly edit your entire configuration database
Comment[ne]=Directly edit your entire configuration database
Comment[nl]=Directly edit your entire configuration database
Comment[oc]=Directly edit your entire configuration database
Comment[pa]=Directly edit your entire configuration database
Comment[pl]=Directly edit your entire configuration database
Comment[pt]=Directly edit your entire configuration database
Comment[pt_BR]=Directly edit your entire configuration database
Comment[ro]=Directly edit your entire configuration database
Comment[ru]=Directly edit your entire configuration database
Comment[sk]=Directly edit your entire configuration database
Comment[sl]=Directly edit your entire configuration database
Comment[sr]=Directly edit your entire configuration database
Comment[sr@latin]=Directly edit your entire configuration database
Comment[sv]=Directly edit your entire configuration database
Comment[ta]=Directly edit your entire configuration database
Comment[te]=Directly edit your entire configuration database
Comment[tg]=Directly edit your entire configuration database
Comment[th]=Directly edit your entire configuration database
Comment[tr]=Directly edit your entire configuration database
Comment[ug]=Directly edit your entire configuration database
Comment[uk]=Directly edit your entire configuration database
Comment[vi]=Directly edit your entire configuration database
Comment[zh_CN]=Directly edit your entire configuration database
Comment[zh_HK]=Directly edit your entire configuration database
Comment[zh_TW]=Directly edit your entire configuration database
Keywords=settings;configuration;
Keywords[af]=settings;configuration;
Keywords[an]=settings;configuration;
Keywords[as]=settings;configuration;
Keywords[be]=settings;configuration;
Keywords[bg]=settings;configuration;
Keywords[bs]=settings;configuration;
Keywords[ca]=settings;configuration;
Keywords[ca@valencia]=settings;configuration;
Keywords[cs]=settings;configuration;
Keywords[da]=settings;configuration;
Keywords[de]=settings;configuration;
Keywords[el]=settings;configuration;
Keywords[en_GB]=settings;configuration;
Keywords[eo]=settings;configuration;
Keywords[es]=settings;configuration;
Keywords[et]=settings;configuration;
Keywords[eu]=settings;configuration;
Keywords[fa]=settings;configuration;
Keywords[fi]=settings;configuration;
Keywords[fr]=settings;configuration;
Keywords[fur]=settings;configuration;
Keywords[gl]=settings;configuration;
Keywords[he]=settings;configuration;
Keywords[hi]=settings;configuration;
Keywords[hr]=settings;configuration;
Keywords[hu]=settings;configuration;
Keywords[id]=settings;configuration;
Keywords[is]=settings;configuration;
Keywords[it]=settings;configuration;
Keywords[ja]=settings;configuration;
Keywords[kk]=settings;configuration;
Keywords[ko]=settings;configuration;
Keywords[lt]=settings;configuration;
Keywords[lv]=settings;configuration;
Keywords[ml]=settings;configuration;
Keywords[ms]=settings;configuration;
Keywords[nb]=settings;configuration;
Keywords[ne]=settings;configuration;
Keywords[nl]=settings;configuration;
Keywords[oc]=settings;configuration;
Keywords[pa]=settings;configuration;
Keywords[pl]=settings;configuration;
Keywords[pt]=settings;configuration;
Keywords[pt_BR]=settings;configuration;
Keywords[ro]=settings;configuration;
Keywords[ru]=settings;configuration;
Keywords[sk]=settings;configuration;
Keywords[sl]=settings;configuration;
Keywords[sr]=settings;configuration;
Keywords[sr@latin]=settings;configuration;
Keywords[sv]=settings;configuration;
Keywords[ta]=settings;configuration;
Keywords[tg]=settings;configuration;
Keywords[th]=settings;configuration;
Keywords[tr]=settings;configuration;
Keywords[ug]=settings;configuration;
Keywords[uk]=settings;configuration;
Keywords[vi]=settings;configuration;
Keywords[zh_CN]=settings;configuration;
Keywords[zh_HK]=settings;configuration;
Keywords[zh_TW]=settings;configuration;
Exec=dconf-editor
Terminal=false
Type=Application
StartupNotify=true
Categories=GNOME;GTK;System;
DBusActivatable=true
Icon=ca.desrt.dconf-editor
Path=
Hidden=false

