[Desktop Entry]
Name=Dconf Editor
GenericName=Configuration editor for dconf
Comment=Directly edit your entire configuration database
Keywords=settings;configuration;
Exec=dconf-editor
Terminal=false
Type=Application
StartupNotify=true
Categories=GNOME;GTK;System;
DBusActivatable=true
Icon=ca.desrt.dconf-editor
Path=
Hidden=false