[Desktop Entry]
Version=1.0
Name=Tilix Terminal
Comment=A tiling terminal for Xfce
Keywords[ar]=shell;prompt;command;commandline;cmd;
Exec=tilix --geometry 102x22+200+124
Terminal=false
Type=Application
StartupNotify=false
Categories=System;TerminalEmulator;X-GNOME-Utilities;
Icon=utilities-terminal
DBusActivatable=true
Actions=new-window;new-session;preferences;

Path=

[Desktop Action new-window]
Name=New Window
Exec=tilix --action=app-new-window

[Desktop Action new-session]
Name=New Session
Exec=tilix --action=app-new-session

[Desktop Action preferences]
Name=Preferences
Exec=tilix --preferences
