[Desktop Entry]
Type=Application
Version=1.0
Name=Task Manager CLI
GenericName=Process Viewer
Comment=Show System Processes
Icon=htop
Exec=btop
Terminal=true
Categories=System;Monitor;ConsoleOnly;
Keywords=system;process;task
Path=
StartupNotify=false
