[Desktop Entry]
Name=CherryTree
Comment=Hierarchical Note Taking
Exec=cherrytree %f
Icon=cherrytree
MimeType=application/cherrytree-ctd;application/cherrytree-ctz;application/cherrytree-ctb;application/cherrytree-ctx;
Terminal=false
Type=Application
StartupNotify=true
Categories=advanced-utilities;12-reporting;Utility;
Keywords=editor;notes;note-taking;
X-Purism-FormFactor=Workstation;Mobile;
X-Kali-Package=cherrytree
