[Desktop Entry]
Version=1.0
Type=Application
Name=kitty Terminal
GenericName=Terminal emulator
Comment=Fast, feature-rich, GPU based terminal
TryExec=kitty
Exec=kitty
Icon=kitty
Categories=System;TerminalEmulator;
Path=
Terminal=false
StartupNotify=false
