[Desktop Entry]
Name=Lockscreen Settings
Categories=GNOME;GTK;Settings;System;Utility;X-XFCE-SettingsDialog;X-XFCE-SystemSettings;
Keywords=Configuration;Utility;
Exec=sudo lightdm-gtk-greeter-settings
Icon=lightdm-gtk-greeter-settings
Terminal=false
Type=Application
X-XfcePluggable=true
Path=
StartupNotify=false
