[Desktop Entry]
Name=Calculator
Name[am]=Calculator
Name[ar]=Calculator
Name[ast]=Calculator
Name[be]=Calculator
Name[bg]=Calculator
Name[ca]=Calculator
Name[ca@valencia]=Calculator
Name[cmn]=Calculator
Name[cs]=Calculator
Name[da]=Calculator
Name[de]=Calculator
Name[el]=Calculator
Name[en_AU]=Calculator
Name[en_GB]=Calculator
Name[eo]=Calculator
Name[es]=Calculator
Name[et]=Calculator
Name[eu]=Calculator
Name[fa]=Calculator
Name[fi]=Calculator
Name[fr]=Calculator
Name[gl]=Calculator
Name[gu]=Calculator
Name[he]=Calculator
Name[hi]=Calculator
Name[hr]=Calculator
Name[hu]=Calculator
Name[hy]=Calculator
Name[id]=Calculator
Name[ie]=Calculator
Name[it]=Calculator
Name[ja]=Calculator
Name[kk]=Calculator
Name[km]=Calculator
Name[kn]=Calculator
Name[ko]=Calculator
Name[ku_IQ]=Calculator
Name[ky]=Calculator
Name[lt]=Calculator
Name[lv]=Calculator
Name[mr]=Calculator
Name[ms]=Calculator
Name[nb]=Calculator
Name[nl]=Calculator
Name[oc]=Calculator
Name[pl]=Calculator
Name[pt]=Calculator
Name[pt_BR]=Calculator
Name[ro]=Calculator
Name[ru]=Calculator
Name[sk]=Calculator
Name[sl]=Calculator
Name[sq]=Calculator
Name[sr]=Calculator
Name[sv]=Calculator
Name[ta]=Calculator
Name[th]=Calculator
Name[tr]=Calculator
Name[uk]=Calculator
Name[uz]=Calculator
Name[zh_CN]=Calculator
Name[zh_HK]=Calculator
Name[zh_TW]=Calculator
GenericName=Calculator
GenericName[af]=Calculator
GenericName[am]=Calculator
GenericName[ar]=Calculator
GenericName[as]=Calculator
GenericName[ast]=Calculator
GenericName[az]=Calculator
GenericName[be]=Calculator
GenericName[bg]=Calculator
GenericName[bn]=Calculator
GenericName[bn_IN]=Calculator
GenericName[bs]=Calculator
GenericName[ca]=Calculator
GenericName[ca@valencia]=Calculator
GenericName[cmn]=Calculator
GenericName[cs]=Calculator
GenericName[cy]=Calculator
GenericName[da]=Calculator
GenericName[de]=Calculator
GenericName[dz]=Calculator
GenericName[el]=Calculator
GenericName[en_AU]=Calculator
GenericName[en_CA]=Calculator
GenericName[en_GB]=Calculator
GenericName[eo]=Calculator
GenericName[es]=Calculator
GenericName[es_AR]=Calculator
GenericName[es_CL]=Calculator
GenericName[et]=Calculator
GenericName[eu]=Calculator
GenericName[fa]=Calculator
GenericName[fi]=Calculator
GenericName[fr]=Calculator
GenericName[ga]=Calculator
GenericName[gl]=Calculator
GenericName[gu]=Calculator
GenericName[he]=Calculator
GenericName[hi]=Calculator
GenericName[hr]=Calculator
GenericName[hu]=Calculator
GenericName[hy]=Calculator
GenericName[id]=Calculator
GenericName[ie]=Calculator
GenericName[it]=Calculator
GenericName[ja]=Calculator
GenericName[ka]=Calculator
GenericName[kk]=Calculator
GenericName[km]=Calculator
GenericName[kn]=Calculator
GenericName[ko]=Calculator
GenericName[ku_IQ]=Calculator
GenericName[ky]=Calculator
GenericName[lt]=Calculator
GenericName[lv]=Calculator
GenericName[mai]=Calculator
GenericName[mg]=Calculator
GenericName[mk]=Calculator
GenericName[ml]=Calculator
GenericName[mn]=Calculator
GenericName[mr]=Calculator
GenericName[ms]=Calculator
GenericName[my]=Calculator
GenericName[nb]=Calculator
GenericName[ne]=Calculator
GenericName[nl]=Calculator
GenericName[nn]=Calculator
GenericName[oc]=Calculator
GenericName[or]=Calculator
GenericName[pa]=Calculator
GenericName[pl]=Calculator
GenericName[pt]=Calculator
GenericName[pt_BR]=Calculator
GenericName[ro]=Calculator
GenericName[ru]=Calculator
GenericName[si]=Calculator
GenericName[sk]=Calculator
GenericName[sl]=Calculator
GenericName[sq]=Calculator
GenericName[sr]=Calculator
GenericName[sr@latin]=Calculator
GenericName[sv]=Calculator
GenericName[ta]=Calculator
GenericName[te]=Calculator
GenericName[th]=Calculator
GenericName[tk]=Calculator
GenericName[tr]=Calculator
GenericName[ug]=Calculator
GenericName[uk]=Calculator
GenericName[uz]=Calculator
GenericName[vi]=Calculator
GenericName[xh]=Calculator
GenericName[zh_CN]=Calculator
GenericName[zh_HK]=Calculator
GenericName[zh_TW]=Calculator
Comment=Perform arithmetic, scientific or financial calculations
Comment[af]=Perform arithmetic, scientific or financial calculations
Comment[ar]=Perform arithmetic, scientific or financial calculations
Comment[as]=Perform arithmetic, scientific or financial calculations
Comment[ast]=Perform arithmetic, scientific or financial calculations
Comment[be]=Perform arithmetic, scientific or financial calculations
Comment[bg]=Perform arithmetic, scientific or financial calculations
Comment[bn]=Perform arithmetic, scientific or financial calculations
Comment[bn_IN]=Perform arithmetic, scientific or financial calculations
Comment[ca]=Perform arithmetic, scientific or financial calculations
Comment[ca@valencia]=Perform arithmetic, scientific or financial calculations
Comment[cmn]=Perform arithmetic, scientific or financial calculations
Comment[cs]=Perform arithmetic, scientific or financial calculations
Comment[da]=Perform arithmetic, scientific or financial calculations
Comment[de]=Perform arithmetic, scientific or financial calculations
Comment[dz]=Perform arithmetic, scientific or financial calculations
Comment[el]=Perform arithmetic, scientific or financial calculations
Comment[en_AU]=Perform arithmetic, scientific or financial calculations
Comment[en_CA]=Perform arithmetic, scientific or financial calculations
Comment[en_GB]=Perform arithmetic, scientific or financial calculations
Comment[eo]=Perform arithmetic, scientific or financial calculations
Comment[es]=Perform arithmetic, scientific or financial calculations
Comment[et]=Perform arithmetic, scientific or financial calculations
Comment[eu]=Perform arithmetic, scientific or financial calculations
Comment[fa]=Perform arithmetic, scientific or financial calculations
Comment[fi]=Perform arithmetic, scientific or financial calculations
Comment[fr]=Perform arithmetic, scientific or financial calculations
Comment[gl]=Perform arithmetic, scientific or financial calculations
Comment[gu]=Perform arithmetic, scientific or financial calculations
Comment[he]=Perform arithmetic, scientific or financial calculations
Comment[hi]=Perform arithmetic, scientific or financial calculations
Comment[hu]=Perform arithmetic, scientific or financial calculations
Comment[hy]=Perform arithmetic, scientific or financial calculations
Comment[id]=Perform arithmetic, scientific or financial calculations
Comment[ie]=Perform arithmetic, scientific or financial calculations
Comment[it]=Perform arithmetic, scientific or financial calculations
Comment[ja]=Perform arithmetic, scientific or financial calculations
Comment[kk]=Perform arithmetic, scientific or financial calculations
Comment[km]=Perform arithmetic, scientific or financial calculations
Comment[kn]=Perform arithmetic, scientific or financial calculations
Comment[ko]=Perform arithmetic, scientific or financial calculations
Comment[lt]=Perform arithmetic, scientific or financial calculations
Comment[lv]=Perform arithmetic, scientific or financial calculations
Comment[mk]=Perform arithmetic, scientific or financial calculations
Comment[ml]=Perform arithmetic, scientific or financial calculations
Comment[mr]=Perform arithmetic, scientific or financial calculations
Comment[ms]=Perform arithmetic, scientific or financial calculations
Comment[nb]=Perform arithmetic, scientific or financial calculations
Comment[ne]=Perform arithmetic, scientific or financial calculations
Comment[nl]=Perform arithmetic, scientific or financial calculations
Comment[nn]=Perform arithmetic, scientific or financial calculations
Comment[oc]=Perform arithmetic, scientific or financial calculations
Comment[or]=Perform arithmetic, scientific or financial calculations
Comment[pa]=Perform arithmetic, scientific or financial calculations
Comment[pl]=Perform arithmetic, scientific or financial calculations
Comment[pt]=Perform arithmetic, scientific or financial calculations
Comment[pt_BR]=Perform arithmetic, scientific or financial calculations
Comment[ro]=Perform arithmetic, scientific or financial calculations
Comment[ru]=Perform arithmetic, scientific or financial calculations
Comment[sk]=Perform arithmetic, scientific or financial calculations
Comment[sl]=Perform arithmetic, scientific or financial calculations
Comment[sq]=Perform arithmetic, scientific or financial calculations
Comment[sr]=Perform arithmetic, scientific or financial calculations
Comment[sr@latin]=Perform arithmetic, scientific or financial calculations
Comment[sv]=Perform arithmetic, scientific or financial calculations
Comment[ta]=Perform arithmetic, scientific or financial calculations
Comment[te]=Perform arithmetic, scientific or financial calculations
Comment[th]=Perform arithmetic, scientific or financial calculations
Comment[tr]=Perform arithmetic, scientific or financial calculations
Comment[ug]=Perform arithmetic, scientific or financial calculations
Comment[uk]=Perform arithmetic, scientific or financial calculations
Comment[uz]=Perform arithmetic, scientific or financial calculations
Comment[vi]=Perform arithmetic, scientific or financial calculations
Comment[zh_CN]=Perform arithmetic, scientific or financial calculations
Comment[zh_HK]=Perform arithmetic, scientific or financial calculations
Comment[zh_TW]=Perform arithmetic, scientific or financial calculations
Exec=mate-calc
Icon=accessories-calculator
Terminal=false
Type=Application
StartupNotify=true
Keywords=calculator;MATE;scientific;arithmetic;financial;calculations;
Keywords[ca]=calculator;MATE;scientific;arithmetic;financial;calculations;
Keywords[cs]=calculator;MATE;scientific;arithmetic;financial;calculations;
Keywords[da]=calculator;MATE;scientific;arithmetic;financial;calculations;
Keywords[es]=calculator;MATE;scientific;arithmetic;financial;calculations;
Keywords[fr]=calculator;MATE;scientific;arithmetic;financial;calculations;
Keywords[gl]=calculator;MATE;scientific;arithmetic;financial;calculations;
Keywords[he]=calculator;MATE;scientific;arithmetic;financial;calculations;
Keywords[id]=calculator;MATE;scientific;arithmetic;financial;calculations;
Keywords[it]=calculator;MATE;scientific;arithmetic;financial;calculations;
Keywords[ja]=calculator;MATE;scientific;arithmetic;financial;calculations;
Keywords[ko]=calculator;MATE;scientific;arithmetic;financial;calculations;
Keywords[lt]=calculator;MATE;scientific;arithmetic;financial;calculations;
Keywords[ms]=calculator;MATE;scientific;arithmetic;financial;calculations;
Keywords[nb]=calculator;MATE;scientific;arithmetic;financial;calculations;
Keywords[nl]=calculator;MATE;scientific;arithmetic;financial;calculations;
Keywords[oc]=calculator;MATE;scientific;arithmetic;financial;calculations;
Keywords[pl]=calculator;MATE;scientific;arithmetic;financial;calculations;
Keywords[pt]=calculator;MATE;scientific;arithmetic;financial;calculations;
Keywords[pt_BR]=calculator;MATE;scientific;arithmetic;financial;calculations;
Keywords[ru]=calculator;MATE;scientific;arithmetic;financial;calculations;
Keywords[sr]=calculator;MATE;scientific;arithmetic;financial;calculations;
Keywords[uk]=calculator;MATE;scientific;arithmetic;financial;calculations;
Keywords[zh_CN]=calculator;MATE;scientific;arithmetic;financial;calculations;
Keywords[zh_TW]=calculator;MATE;scientific;arithmetic;financial;calculations;
Categories=GTK;Utility;Calculator;
X-MATE-DocPath=mate-calc/mate-calc.xml
X-MATE-Bugzilla-Bugzilla=MATE
X-MATE-Bugzilla-Product=mate-calc
X-MATE-Bugzilla-Component=general
X-MATE-Bugzilla-OtherBinaries=mate-calculator
Path=
Hidden=true

