[Desktop Entry]
Name=Onboard Settings
Name[ar]=Onboard Settings
Name[ast]=Onboard Settings
Name[be]=Onboard Settings
Name[bg]=Onboard Settings
Name[bn]=Onboard Settings
Name[bs]=Onboard Settings
Name[ca]=Onboard Settings
Name[ca@valencia]=Onboard Settings
Name[cs]=Onboard Settings
Name[da]=Onboard Settings
Name[de]=Onboard Settings
Name[el]=Onboard Settings
Name[en_AU]=Onboard Settings
Name[en_GB]=Onboard Settings
Name[eo]=Onboard Settings
Name[es]=Onboard Settings
Name[eu]=Onboard Settings
Name[fi]=Onboard Settings
Name[fr]=Onboard Settings
Name[fr_CA]=Onboard Settings
Name[gd]=Onboard Settings
Name[gl]=Onboard Settings
Name[he]=Onboard Settings
Name[hr]=Onboard Settings
Name[hu]=Onboard Settings
Name[ia]=Onboard Settings
Name[id]=Onboard Settings
Name[it]=Onboard Settings
Name[ja]=Onboard Settings
Name[km]=Onboard Settings
Name[ko]=Onboard Settings
Name[lt]=Onboard Settings
Name[lv]=Onboard Settings
Name[mr]=Onboard Settings
Name[ms]=Onboard Settings
Name[nb]=Onboard Settings
Name[nl]=Onboard Settings
Name[oc]=Onboard Settings
Name[pl]=Onboard Settings
Name[pt]=Onboard Settings
Name[pt_BR]=Onboard Settings
Name[ro]=Onboard Settings
Name[ru]=Onboard Settings
Name[sk]=Onboard Settings
Name[sl]=Onboard Settings
Name[sq]=Onboard Settings
Name[sr]=Onboard Settings
Name[sv]=Onboard Settings
Name[tg]=Onboard Settings
Name[tr]=Onboard Settings
Name[ug]=Onboard Settings
Name[uk]=Onboard Settings
Name[zh_CN]=Onboard Settings
Name[zh_HK]=Onboard Settings
Name[zh_TW]=Onboard Settings
GenericName=Onboard onscreen keyboard settings
GenericName[ar]=Onboard onscreen keyboard settings
GenericName[ast]=Onboard onscreen keyboard settings
GenericName[be]=Onboard onscreen keyboard settings
GenericName[bg]=Onboard onscreen keyboard settings
GenericName[bn]=Onboard onscreen keyboard settings
GenericName[bs]=Onboard onscreen keyboard settings
GenericName[ca]=Onboard onscreen keyboard settings
GenericName[ca@valencia]=Onboard onscreen keyboard settings
GenericName[cs]=Onboard onscreen keyboard settings
GenericName[da]=Onboard onscreen keyboard settings
GenericName[de]=Onboard onscreen keyboard settings
GenericName[el]=Onboard onscreen keyboard settings
GenericName[en_AU]=Onboard onscreen keyboard settings
GenericName[en_GB]=Onboard onscreen keyboard settings
GenericName[eo]=Onboard onscreen keyboard settings
GenericName[es]=Onboard onscreen keyboard settings
GenericName[eu]=Onboard onscreen keyboard settings
GenericName[fi]=Onboard onscreen keyboard settings
GenericName[fr]=Onboard onscreen keyboard settings
GenericName[fr_CA]=Onboard onscreen keyboard settings
GenericName[gd]=Onboard onscreen keyboard settings
GenericName[gl]=Onboard onscreen keyboard settings
GenericName[hr]=Onboard onscreen keyboard settings
GenericName[hu]=Onboard onscreen keyboard settings
GenericName[ia]=Onboard onscreen keyboard settings
GenericName[id]=Onboard onscreen keyboard settings
GenericName[it]=Onboard onscreen keyboard settings
GenericName[ja]=Onboard onscreen keyboard settings
GenericName[km]=Onboard onscreen keyboard settings
GenericName[ko]=Onboard onscreen keyboard settings
GenericName[lt]=Onboard onscreen keyboard settings
GenericName[lv]=Onboard onscreen keyboard settings
GenericName[mr]=Onboard onscreen keyboard settings
GenericName[ms]=Onboard onscreen keyboard settings
GenericName[nb]=Onboard onscreen keyboard settings
GenericName[nl]=Onboard onscreen keyboard settings
GenericName[oc]=Onboard onscreen keyboard settings
GenericName[pl]=Onboard onscreen keyboard settings
GenericName[pt]=Onboard onscreen keyboard settings
GenericName[pt_BR]=Onboard onscreen keyboard settings
GenericName[ro]=Onboard onscreen keyboard settings
GenericName[ru]=Onboard onscreen keyboard settings
GenericName[sk]=Onboard onscreen keyboard settings
GenericName[sl]=Onboard onscreen keyboard settings
GenericName[sq]=Onboard onscreen keyboard settings
GenericName[sr]=Onboard onscreen keyboard settings
GenericName[sv]=Onboard onscreen keyboard settings
GenericName[tg]=Onboard onscreen keyboard settings
GenericName[tr]=Onboard onscreen keyboard settings
GenericName[ug]=Onboard onscreen keyboard settings
GenericName[uk]=Onboard onscreen keyboard settings
GenericName[zh_CN]=Onboard onscreen keyboard settings
GenericName[zh_HK]=Onboard onscreen keyboard settings
GenericName[zh_TW]=Onboard onscreen keyboard settings
Comment=Change Onboard settings
Comment[ar]=Change Onboard settings
Comment[ast]=Change Onboard settings
Comment[be]=Change Onboard settings
Comment[bg]=Change Onboard settings
Comment[bn]=Change Onboard settings
Comment[bs]=Change Onboard settings
Comment[ca]=Change Onboard settings
Comment[ca@valencia]=Change Onboard settings
Comment[cs]=Change Onboard settings
Comment[da]=Change Onboard settings
Comment[de]=Change Onboard settings
Comment[el]=Change Onboard settings
Comment[en_AU]=Change Onboard settings
Comment[en_GB]=Change Onboard settings
Comment[eo]=Change Onboard settings
Comment[es]=Change Onboard settings
Comment[eu]=Change Onboard settings
Comment[fi]=Change Onboard settings
Comment[fr]=Change Onboard settings
Comment[fr_CA]=Change Onboard settings
Comment[gd]=Change Onboard settings
Comment[gl]=Change Onboard settings
Comment[he]=Change Onboard settings
Comment[hr]=Change Onboard settings
Comment[hu]=Change Onboard settings
Comment[ia]=Change Onboard settings
Comment[id]=Change Onboard settings
Comment[it]=Change Onboard settings
Comment[ja]=Change Onboard settings
Comment[km]=Change Onboard settings
Comment[ko]=Change Onboard settings
Comment[lt]=Change Onboard settings
Comment[lv]=Change Onboard settings
Comment[mr]=Change Onboard settings
Comment[ms]=Change Onboard settings
Comment[nb]=Change Onboard settings
Comment[nl]=Change Onboard settings
Comment[oc]=Change Onboard settings
Comment[pl]=Change Onboard settings
Comment[pt]=Change Onboard settings
Comment[pt_BR]=Change Onboard settings
Comment[ro]=Change Onboard settings
Comment[ru]=Change Onboard settings
Comment[sk]=Change Onboard settings
Comment[sl]=Change Onboard settings
Comment[sq]=Change Onboard settings
Comment[sr]=Change Onboard settings
Comment[sv]=Change Onboard settings
Comment[tg]=Change Onboard settings
Comment[tr]=Change Onboard settings
Comment[ug]=Change Onboard settings
Comment[uk]=Change Onboard settings
Comment[zh_CN]=Change Onboard settings
Comment[zh_HK]=Change Onboard settings
Comment[zh_TW]=Change Onboard settings
Exec=onboard-settings
Terminal=false
Type=Application
Categories=Settings;Accessibility;
Keywords=onscreen;keyboard;accessibility;utility;settings;configuration;
Icon=onboard
X-Ubuntu-Gettext-Domain=onboard
Hidden=true

