[Desktop Entry]
Version=1.0
Name=Shotwell Profile Browser
Name[ca]=Shotwell Profile Browser
Name[cs]=Shotwell Profile Browser
Name[da]=Shotwell Profile Browser
Name[de]=Shotwell Profile Browser
Name[eu]=Shotwell Profile Browser
Name[fr]=Shotwell Profile Browser
Name[he]=Shotwell Profile Browser
Name[hr]=Shotwell Profile Browser
Name[hu]=Shotwell Profile Browser
Name[id]=Shotwell Profile Browser
Name[lt]=Shotwell Profile Browser
Name[pl]=Shotwell Profile Browser
Name[pt_BR]=Shotwell Profile Browser
Name[ru]=Shotwell Profile Browser
Name[sl]=Shotwell Profile Browser
Name[sv]=Shotwell Profile Browser
Name[tr]=Shotwell Profile Browser
Name[uk]=Shotwell Profile Browser
Name[vi]=Shotwell Profile Browser
Name[zh_TW]=Shotwell Profile Browser
GenericName=Photo Manager
GenericName[af]=Photo Manager
GenericName[ar]=Photo Manager
GenericName[as]=Photo Manager
GenericName[ast]=Photo Manager
GenericName[bg]=Photo Manager
GenericName[bn]=Photo Manager
GenericName[bn_IN]=Photo Manager
GenericName[bs]=Photo Manager
GenericName[ca]=Photo Manager
GenericName[cs]=Photo Manager
GenericName[da]=Photo Manager
GenericName[de]=Photo Manager
GenericName[el]=Photo Manager
GenericName[en_GB]=Photo Manager
GenericName[es]=Photo Manager
GenericName[et]=Photo Manager
GenericName[eu]=Photo Manager
GenericName[fi]=Photo Manager
GenericName[fr]=Photo Manager
GenericName[gd]=Photo Manager
GenericName[gl]=Photo Manager
GenericName[gu]=Photo Manager
GenericName[he]=Photo Manager
GenericName[hi]=Photo Manager
GenericName[hr]=Photo Manager
GenericName[hu]=Photo Manager
GenericName[ia]=Photo Manager
GenericName[id]=Photo Manager
GenericName[ie]=Photo Manager
GenericName[it]=Photo Manager
GenericName[ja]=Photo Manager
GenericName[ka]=Photo Manager
GenericName[kk]=Photo Manager
GenericName[km]=Photo Manager
GenericName[kn]=Photo Manager
GenericName[ko]=Photo Manager
GenericName[ky]=Photo Manager
GenericName[lt]=Photo Manager
GenericName[lv]=Photo Manager
GenericName[mjw]=Photo Manager
GenericName[mk]=Photo Manager
GenericName[ml]=Photo Manager
GenericName[mr]=Photo Manager
GenericName[nb]=Photo Manager
GenericName[nl]=Photo Manager
GenericName[oc]=Photo Manager
GenericName[or]=Photo Manager
GenericName[pa]=Photo Manager
GenericName[pl]=Photo Manager
GenericName[pt]=Photo Manager
GenericName[pt_BR]=Photo Manager
GenericName[ro]=Photo Manager
GenericName[ru]=Photo Manager
GenericName[sk]=Photo Manager
GenericName[sl]=Photo Manager
GenericName[sr]=Photo Manager
GenericName[sr@latin]=Photo Manager
GenericName[sv]=Photo Manager
GenericName[ta]=Photo Manager
GenericName[te]=Photo Manager
GenericName[th]=Photo Manager
GenericName[tr]=Photo Manager
GenericName[uk]=Photo Manager
GenericName[vi]=Photo Manager
GenericName[zh_CN]=Photo Manager
GenericName[zh_HK]=Photo Manager
GenericName[zh_TW]=Photo Manager
Comment=Manage Different Profiles In Shotwell
Comment[ca]=Manage Different Profiles In Shotwell
Comment[cs]=Manage Different Profiles In Shotwell
Comment[da]=Manage Different Profiles In Shotwell
Comment[de]=Manage Different Profiles In Shotwell
Comment[eu]=Manage Different Profiles In Shotwell
Comment[fr]=Manage Different Profiles In Shotwell
Comment[he]=Manage Different Profiles In Shotwell
Comment[hr]=Manage Different Profiles In Shotwell
Comment[hu]=Manage Different Profiles In Shotwell
Comment[id]=Manage Different Profiles In Shotwell
Comment[lt]=Manage Different Profiles In Shotwell
Comment[pl]=Manage Different Profiles In Shotwell
Comment[pt_BR]=Manage Different Profiles In Shotwell
Comment[ru]=Manage Different Profiles In Shotwell
Comment[sl]=Manage Different Profiles In Shotwell
Comment[sv]=Manage Different Profiles In Shotwell
Comment[tr]=Manage Different Profiles In Shotwell
Comment[uk]=Manage Different Profiles In Shotwell
Comment[vi]=Manage Different Profiles In Shotwell
Comment[zh_TW]=Manage Different Profiles In Shotwell
Exec=shotwell -b
Icon=org.gnome.Shotwell
Terminal=false
Type=Application
Categories=Graphics;Photography;GNOME;GTK;
X-GIO-NoFuse=true
X-GNOME-Gettext-Domain=shotwell
X-GNOME-FullName=Shotwell Profile Manager
Hidden=true

