[Desktop Entry]
Name=Eye of GNOME
Name[af]=Eye of GNOME
Name[ar]=Eye of GNOME
Name[be]=Eye of GNOME
Name[be@latin]=Eye of GNOME
Name[bn]=Eye of GNOME
Name[bn_IN]=Eye of GNOME
Name[br]=Eye of GNOME
Name[ca]=Eye of GNOME
Name[ca@valencia]=Eye of GNOME
Name[ckb]=Eye of GNOME
Name[cs]=Eye of GNOME
Name[cy]=Eye of GNOME
Name[dz]=Eye of GNOME
Name[en@shaw]=Eye of GNOME
Name[eo]=Eye of GNOME
Name[eu]=Eye of GNOME
Name[fa]=Eye of GNOME
Name[fy]=Eye of GNOME
Name[gd]=Eye of GNOME
Name[gl]=Eye of GNOME
Name[he]=Eye of GNOME
Name[hu]=Eye of GNOME
Name[id]=Eye of GNOME
Name[ja]=Eye of GNOME
Name[ka]=Eye of GNOME
Name[kk]=Eye of GNOME
Name[ks]=Eye of GNOME
Name[ku]=Eye of GNOME
Name[mai]=Eye of GNOME
Name[mg]=Eye of GNOME
Name[mjw]=Eye of GNOME
Name[ml]=Eye of GNOME
Name[ms]=Eye of GNOME
Name[nds]=Eye of GNOME
Name[nl]=Eye of GNOME
Name[nn]=Eye of GNOME
Name[nso]=Eye of GNOME
Name[or]=Eye of GNOME
Name[pa]=Eye of GNOME
Name[pl]=Eye of GNOME
Name[ps]=Eye of GNOME
Name[pt]=Eye of GNOME
Name[ro]=Eye of GNOME
Name[ru]=Eye of GNOME
Name[si]=Eye of GNOME
Name[sq]=Eye of GNOME
Name[sr@latin]=Eye of GNOME
Name[sv]=Eye of GNOME
Name[th]=Eye of GNOME
Name[tr]=Eye of GNOME
Name[uk]=Eye of GNOME
Name[uz]=Eye of GNOME
Name[uz@cyrillic]=Eye of GNOME
Name[wa]=Eye of GNOME
Name[zh_CN]=Eye of GNOME
Name[zh_TW]=Eye of GNOME
Name[zu]=Eye of GNOME
Comment=Browse and rotate images
Comment[af]=Browse and rotate images
Comment[an]=Browse and rotate images
Comment[ar]=Browse and rotate images
Comment[as]=Browse and rotate images
Comment[ast]=Browse and rotate images
Comment[be]=Browse and rotate images
Comment[be@latin]=Browse and rotate images
Comment[bg]=Browse and rotate images
Comment[bn]=Browse and rotate images
Comment[bn_IN]=Browse and rotate images
Comment[bs]=Browse and rotate images
Comment[ca]=Browse and rotate images
Comment[ca@valencia]=Browse and rotate images
Comment[ckb]=Browse and rotate images
Comment[cs]=Browse and rotate images
Comment[da]=Browse and rotate images
Comment[de]=Browse and rotate images
Comment[dz]=Browse and rotate images
Comment[el]=Browse and rotate images
Comment[en@shaw]=Browse and rotate images
Comment[en_CA]=Browse and rotate images
Comment[en_GB]=Browse and rotate images
Comment[eo]=Browse and rotate images
Comment[es]=Browse and rotate images
Comment[et]=Browse and rotate images
Comment[eu]=Browse and rotate images
Comment[fa]=Browse and rotate images
Comment[fi]=Browse and rotate images
Comment[fr]=Browse and rotate images
Comment[fur]=Browse and rotate images
Comment[fy]=Browse and rotate images
Comment[ga]=Browse and rotate images
Comment[gd]=Browse and rotate images
Comment[gl]=Browse and rotate images
Comment[gu]=Browse and rotate images
Comment[he]=Browse and rotate images
Comment[hi]=Browse and rotate images
Comment[hr]=Browse and rotate images
Comment[hu]=Browse and rotate images
Comment[id]=Browse and rotate images
Comment[ie]=Browse and rotate images
Comment[is]=Browse and rotate images
Comment[it]=Browse and rotate images
Comment[ja]=Browse and rotate images
Comment[ka]=Browse and rotate images
Comment[kk]=Browse and rotate images
Comment[km]=Browse and rotate images
Comment[kn]=Browse and rotate images
Comment[ko]=Browse and rotate images
Comment[ks]=Browse and rotate images
Comment[lt]=Browse and rotate images
Comment[lv]=Browse and rotate images
Comment[mjw]=Browse and rotate images
Comment[mk]=Browse and rotate images
Comment[ml]=Browse and rotate images
Comment[mr]=Browse and rotate images
Comment[ms]=Browse and rotate images
Comment[nb]=Browse and rotate images
Comment[nds]=Browse and rotate images
Comment[ne]=Browse and rotate images
Comment[nl]=Browse and rotate images
Comment[nn]=Browse and rotate images
Comment[oc]=Browse and rotate images
Comment[or]=Browse and rotate images
Comment[pa]=Browse and rotate images
Comment[pl]=Browse and rotate images
Comment[ps]=Browse and rotate images
Comment[pt]=Browse and rotate images
Comment[pt_BR]=Browse and rotate images
Comment[ro]=Browse and rotate images
Comment[ru]=Browse and rotate images
Comment[si]=Browse and rotate images
Comment[sk]=Browse and rotate images
Comment[sl]=Browse and rotate images
Comment[sq]=Browse and rotate images
Comment[sr]=Browse and rotate images
Comment[sr@latin]=Browse and rotate images
Comment[sv]=Browse and rotate images
Comment[ta]=Browse and rotate images
Comment[te]=Browse and rotate images
Comment[tg]=Browse and rotate images
Comment[th]=Browse and rotate images
Comment[tr]=Browse and rotate images
Comment[ts]=Browse and rotate images
Comment[ug]=Browse and rotate images
Comment[uk]=Browse and rotate images
Comment[uz]=Browse and rotate images
Comment[uz@cyrillic]=Browse and rotate images
Comment[vi]=Browse and rotate images
Comment[xh]=Browse and rotate images
Comment[zh_CN]=Browse and rotate images
Comment[zh_HK]=Browse and rotate images
Comment[zh_TW]=Browse and rotate images
Comment[zu]=Browse and rotate images
TryExec=eog
Exec=eog %U
Icon=xfce4-eyes
StartupNotify=false
Terminal=false
Type=Application
Categories=GNOME;GTK;Graphics;2DGraphics;RasterGraphics;Viewer;
X-GNOME-DocPath=eog/eog.xml
MimeType=image/bmp;image/gif;image/jpeg;image/jpg;image/pjpeg;image/png;image/tiff;image/webp;image/x-bmp;image/x-gray;image/x-icb;image/x-ico;image/x-png;image/x-portable-anymap;image/x-portable-bitmap;image/x-portable-graymap;image/x-portable-pixmap;image/x-xbitmap;image/x-xpixmap;image/x-pcx;image/svg+xml;image/svg+xml-compressed;image/vnd.wap.wbmp;image/x-icns;
Keywords=Picture;Slideshow;Graphics;
Keywords[ab]=Picture;Slideshow;Graphics;
Keywords[af]=Picture;Slideshow;Graphics;
Keywords[an]=Picture;Slideshow;Graphics;
Keywords[ar]=Picture;Slideshow;Graphics;
Keywords[as]=Picture;Slideshow;Graphics;
Keywords[be]=Picture;Slideshow;Graphics;
Keywords[bg]=Picture;Slideshow;Graphics;
Keywords[bs]=Picture;Slideshow;Graphics;
Keywords[ca]=Picture;Slideshow;Graphics;
Keywords[ca@valencia]=Picture;Slideshow;Graphics;
Keywords[ckb]=Picture;Slideshow;Graphics;
Keywords[cs]=Picture;Slideshow;Graphics;
Keywords[da]=Picture;Slideshow;Graphics;
Keywords[de]=Picture;Slideshow;Graphics;
Keywords[el]=Picture;Slideshow;Graphics;
Keywords[en_GB]=Picture;Slideshow;Graphics;
Keywords[eo]=Picture;Slideshow;Graphics;
Keywords[es]=Picture;Slideshow;Graphics;
Keywords[et]=Picture;Slideshow;Graphics;
Keywords[eu]=Picture;Slideshow;Graphics;
Keywords[fa]=Picture;Slideshow;Graphics;
Keywords[fi]=Picture;Slideshow;Graphics;
Keywords[fr]=Picture;Slideshow;Graphics;
Keywords[fur]=Picture;Slideshow;Graphics;
Keywords[gd]=Picture;Slideshow;Graphics;
Keywords[gl]=Picture;Slideshow;Graphics;
Keywords[gu]=Picture;Slideshow;Graphics;
Keywords[he]=Picture;Slideshow;Graphics;
Keywords[hi]=Picture;Slideshow;Graphics;
Keywords[hr]=Picture;Slideshow;Graphics;
Keywords[hu]=Picture;Slideshow;Graphics;
Keywords[id]=Picture;Slideshow;Graphics;
Keywords[ie]=Picture;Slideshow;Graphics;
Keywords[is]=Picture;Slideshow;Graphics;
Keywords[it]=Picture;Slideshow;Graphics;
Keywords[ja]=Picture;Slideshow;Graphics;
Keywords[ka]=Picture;Slideshow;Graphics;
Keywords[kk]=Picture;Slideshow;Graphics;
Keywords[km]=Picture;Slideshow;Graphics;
Keywords[kn]=Picture;Slideshow;Graphics;
Keywords[ko]=Picture;Slideshow;Graphics;
Keywords[lt]=Picture;Slideshow;Graphics;
Keywords[lv]=Picture;Slideshow;Graphics;
Keywords[mjw]=Picture;Slideshow;Graphics;
Keywords[ml]=Picture;Slideshow;Graphics;
Keywords[mr]=Picture;Slideshow;Graphics;
Keywords[ms]=Picture;Slideshow;Graphics;
Keywords[nb]=Picture;Slideshow;Graphics;
Keywords[ne]=Picture;Slideshow;Graphics;
Keywords[nl]=Picture;Slideshow;Graphics;
Keywords[oc]=Picture;Slideshow;Graphics;
Keywords[pa]=Picture;Slideshow;Graphics;
Keywords[pl]=Picture;Slideshow;Graphics;
Keywords[pt]=Picture;Slideshow;Graphics;
Keywords[pt_BR]=Picture;Slideshow;Graphics;
Keywords[ro]=Picture;Slideshow;Graphics;
Keywords[ru]=Picture;Slideshow;Graphics;
Keywords[sk]=Picture;Slideshow;Graphics;
Keywords[sl]=Picture;Slideshow;Graphics;
Keywords[sr]=Picture;Slideshow;Graphics;
Keywords[sr@latin]=Picture;Slideshow;Graphics;
Keywords[sv]=Picture;Slideshow;Graphics;
Keywords[ta]=Picture;Slideshow;Graphics;
Keywords[te]=Picture;Slideshow;Graphics;
Keywords[tg]=Picture;Slideshow;Graphics;
Keywords[th]=Picture;Slideshow;Graphics;
Keywords[tr]=Picture;Slideshow;Graphics;
Keywords[ug]=Picture;Slideshow;Graphics;
Keywords[uk]=Picture;Slideshow;Graphics;
Keywords[vi]=Picture;Slideshow;Graphics;
Keywords[zh_CN]=Picture;Slideshow;Graphics;
Keywords[zh_HK]=Picture;Slideshow;Graphics;
Keywords[zh_TW]=Picture;Slideshow;Graphics;
Path=
Hidden=true

