[Desktop Entry]
Name=Gnome Terminal
Name[ab]=Terminal
Name[am]=Terminal
Name[an]=Terminal
Name[ar]=Terminal
Name[as]=Terminal
Name[ast]=Terminal
Name[az]=Terminal
Name[be]=Terminal
Name[be@latin]=Terminal
Name[bg]=Terminal
Name[bn]=Terminal
Name[bn_IN]=Terminal
Name[br]=Terminal
Name[bs]=Terminal
Name[ca]=Terminal
Name[ca@valencia]=Terminal
Name[cs]=Terminal
Name[cy]=Terminal
Name[da]=Terminal
Name[de]=Terminal
Name[dz]=Terminal
Name[el]=Terminal
Name[en@shaw]=Terminal
Name[en_CA]=Terminal
Name[en_GB]=Terminal
Name[eo]=Terminal
Name[es]=Terminal
Name[et]=Terminal
Name[eu]=Terminal
Name[fa]=Terminal
Name[fi]=Terminal
Name[fr]=Terminal
Name[fur]=Terminal
Name[ga]=Terminal
Name[gd]=Terminal
Name[gl]=Terminal
Name[gu]=Terminal
Name[he]=Terminal
Name[hi]=Terminal
Name[hr]=Terminal
Name[hu]=Terminal
Name[hy]=Terminal
Name[id]=Terminal
Name[ie]=Terminal
Name[is]=Terminal
Name[it]=Terminal
Name[ja]=Terminal
Name[ka]=Terminal
Name[kab]=Terminal
Name[kk]=Terminal
Name[km]=Terminal
Name[kn]=Terminal
Name[ko]=Terminal
Name[ku]=Terminal
Name[lt]=Terminal
Name[lv]=Terminal
Name[mai]=Terminal
Name[mg]=Terminal
Name[mk]=Terminal
Name[ml]=Terminal
Name[mn]=Terminal
Name[mr]=Terminal
Name[ms]=Terminal
Name[nb]=Terminal
Name[nds]=Terminal
Name[ne]=Terminal
Name[nl]=Terminal
Name[nn]=Terminal
Name[oc]=Terminal
Name[or]=Terminal
Name[pa]=Terminal
Name[pl]=Terminal
Name[ps]=Terminal
Name[pt]=Terminal
Name[pt_BR]=Terminal
Name[ro]=Terminal
Name[ru]=Terminal
Name[si]=Terminal
Name[sk]=Terminal
Name[sl]=Terminal
Name[sq]=Terminal
Name[sr]=Terminal
Name[sr@latin]=Terminal
Name[sv]=Terminal
Name[ta]=Terminal
Name[te]=Terminal
Name[tg]=Terminal
Name[th]=Terminal
Name[tr]=Terminal
Name[ug]=Terminal
Name[uk]=Terminal
Name[vi]=Terminal
Name[wa]=Terminal
Name[xh]=Terminal
Name[zh_CN]=Terminal
Name[zh_HK]=Terminal
Name[zh_TW]=Terminal
Comment=Use the command line
Comment[an]=Use the command line
Comment[ar]=Use the command line
Comment[as]=Use the command line
Comment[ast]=Use the command line
Comment[be]=Use the command line
Comment[be@latin]=Use the command line
Comment[bg]=Use the command line
Comment[bn]=Use the command line
Comment[bn_IN]=Use the command line
Comment[br]=Use the command line
Comment[bs]=Use the command line
Comment[ca]=Use the command line
Comment[ca@valencia]=Use the command line
Comment[cs]=Use the command line
Comment[cy]=Use the command line
Comment[da]=Use the command line
Comment[de]=Use the command line
Comment[dz]=Use the command line
Comment[el]=Use the command line
Comment[en@shaw]=Use the command line
Comment[en_CA]=Use the command line
Comment[en_GB]=Use the command line
Comment[eo]=Use the command line
Comment[es]=Use the command line
Comment[et]=Use the command line
Comment[eu]=Use the command line
Comment[fa]=Use the command line
Comment[fi]=Use the command line
Comment[fr]=Use the command line
Comment[fur]=Use the command line
Comment[ga]=Use the command line
Comment[gd]=Use the command line
Comment[gl]=Use the command line
Comment[gu]=Use the command line
Comment[he]=Use the command line
Comment[hi]=Use the command line
Comment[hr]=Use the command line
Comment[hu]=Use the command line
Comment[id]=Use the command line
Comment[ie]=Use the command line
Comment[is]=Use the command line
Comment[it]=Use the command line
Comment[ja]=Use the command line
Comment[ka]=Use the command line
Comment[kk]=Use the command line
Comment[km]=Use the command line
Comment[kn]=Use the command line
Comment[ko]=Use the command line
Comment[ku]=Use the command line
Comment[lt]=Use the command line
Comment[lv]=Use the command line
Comment[mai]=Use the command line
Comment[mg]=Use the command line
Comment[mk]=Use the command line
Comment[ml]=Use the command line
Comment[mn]=Use the command line
Comment[mr]=Use the command line
Comment[ms]=Use the command line
Comment[nb]=Use the command line
Comment[nds]=Use the command line
Comment[ne]=Use the command line
Comment[nl]=Use the command line
Comment[nn]=Use the command line
Comment[oc]=Use the command line
Comment[or]=Use the command line
Comment[pa]=Use the command line
Comment[pl]=Use the command line
Comment[ps]=Use the command line
Comment[pt]=Use the command line
Comment[pt_BR]=Use the command line
Comment[ro]=Use the command line
Comment[ru]=Use the command line
Comment[sk]=Use the command line
Comment[sl]=Use the command line
Comment[sq]=Use the command line
Comment[sr]=Use the command line
Comment[sr@latin]=Use the command line
Comment[sv]=Use the command line
Comment[ta]=Use the command line
Comment[te]=Use the command line
Comment[tg]=Use the command line
Comment[th]=Use the command line
Comment[tr]=Use the command line
Comment[ug]=Use the command line
Comment[uk]=Use the command line
Comment[vi]=Use the command line
Comment[wa]=Use the command line
Comment[zh_CN]=Use the command line
Comment[zh_HK]=Use the command line
Comment[zh_TW]=Use the command line
Keywords=shell;prompt;command;commandline;cmd;
Keywords[ar]=shell;prompt;command;commandline;cmd;
Keywords[be]=shell;prompt;command;commandline;cmd;
Keywords[bg]=shell;prompt;command;commandline;cmd;
Keywords[bn_IN]=shell;prompt;command;commandline;cmd;
Keywords[ca]=shell;prompt;command;commandline;cmd;
Keywords[ca@valencia]=shell;prompt;command;commandline;cmd;
Keywords[cs]=shell;prompt;command;commandline;cmd;
Keywords[da]=shell;prompt;command;commandline;cmd;
Keywords[de]=shell;prompt;command;commandline;cmd;
Keywords[el]=shell;prompt;command;commandline;cmd;
Keywords[en_GB]=shell;prompt;command;commandline;cmd;
Keywords[eo]=shell;prompt;command;commandline;cmd;
Keywords[es]=shell;prompt;command;commandline;cmd;
Keywords[eu]=shell;prompt;command;commandline;cmd;
Keywords[fa]=shell;prompt;command;commandline;cmd;
Keywords[fi]=shell;prompt;command;commandline;cmd;
Keywords[fr]=shell;prompt;command;commandline;cmd;
Keywords[fur]=shell;prompt;command;commandline;cmd;
Keywords[gd]=shell;prompt;command;commandline;cmd;
Keywords[gl]=shell;prompt;command;commandline;cmd;
Keywords[he]=shell;prompt;command;commandline;cmd;
Keywords[hr]=shell;prompt;command;commandline;cmd;
Keywords[hu]=shell;prompt;command;commandline;cmd;
Keywords[id]=shell;prompt;command;commandline;cmd;
Keywords[is]=shell;prompt;command;commandline;cmd;
Keywords[it]=shell;prompt;command;commandline;cmd;
Keywords[ja]=shell;prompt;command;commandline;cmd;
Keywords[ka]=shell;prompt;command;commandline;cmd;
Keywords[kk]=shell;prompt;command;commandline;cmd;
Keywords[ko]=shell;prompt;command;commandline;cmd;
Keywords[lt]=shell;prompt;command;commandline;cmd;
Keywords[lv]=shell;prompt;command;commandline;cmd;
Keywords[ml]=shell;prompt;command;commandline;cmd;
Keywords[ms]=shell;prompt;command;commandline;cmd;
Keywords[nb]=shell;prompt;command;commandline;cmd;
Keywords[ne]=shell;prompt;command;commandline;cmd;
Keywords[nl]=shell;prompt;command;commandline;cmd;
Keywords[oc]=shell;prompt;command;commandline;cmd;
Keywords[pa]=shell;prompt;command;commandline;cmd;
Keywords[pl]=shell;prompt;command;commandline;cmd;
Keywords[pt]=shell;prompt;command;commandline;cmd;
Keywords[pt_BR]=shell;prompt;command;commandline;cmd;
Keywords[ro]=shell;prompt;command;commandline;cmd;
Keywords[ru]=shell;prompt;command;commandline;cmd;
Keywords[sk]=shell;prompt;command;commandline;cmd;
Keywords[sl]=shell;prompt;command;commandline;cmd;
Keywords[sr]=shell;prompt;command;commandline;cmd;
Keywords[sr@latin]=shell;prompt;command;commandline;cmd;
Keywords[sv]=shell;prompt;command;commandline;cmd;
Keywords[tg]=shell;prompt;command;commandline;cmd;
Keywords[th]=shell;prompt;command;commandline;cmd;
Keywords[tr]=shell;prompt;command;commandline;cmd;
Keywords[uk]=shell;prompt;command;commandline;cmd;
Keywords[vi]=shell;prompt;command;commandline;cmd;
Keywords[zh_CN]=shell;prompt;command;commandline;cmd;
Keywords[zh_TW]=shell;prompt;command;commandline;cmd;
TryExec=gnome-terminal
Exec=gnome-terminal --geometry 100x24+236+126
Icon=org.gnome.Terminal
Type=Application
Categories=GNOME;GTK;System;TerminalEmulator;
StartupNotify=false
StartupWMClass=Gnome-terminal
X-GNOME-SingleWindow=false
Actions=new-window;preferences;
X-ExecArg=--
Hidden=false

Path=
Terminal=false

[Desktop Action new-window]
Name=New Window
Name[ab]=New Window
Name[am]=New Window
Name[ar]=New Window
Name[ast]=New Window
Name[az]=New Window
Name[be]=New Window
Name[be@latin]=New Window
Name[bg]=New Window
Name[bn]=New Window
Name[bn_IN]=New Window
Name[br]=New Window
Name[ca]=New Window
Name[cs]=New Window
Name[cy]=New Window
Name[da]=New Window
Name[de]=New Window
Name[dz]=New Window
Name[el]=New Window
Name[en@shaw]=New Window
Name[en_CA]=New Window
Name[en_GB]=New Window
Name[eo]=New Window
Name[es]=New Window
Name[eu]=New Window
Name[fa]=New Window
Name[fi]=New Window
Name[fr]=New Window
Name[fur]=New Window
Name[ga]=New Window
Name[gl]=New Window
Name[he]=New Window
Name[hr]=New Window
Name[hu]=New Window
Name[hy]=New Window
Name[id]=New Window
Name[ie]=New Window
Name[is]=New Window
Name[it]=New Window
Name[ja]=New Window
Name[ka]=New Window
Name[kab]=New Window
Name[kk]=New Window
Name[ko]=New Window
Name[ku]=New Window
Name[lt]=New Window
Name[lv]=New Window
Name[mai]=New Window
Name[mg]=New Window
Name[mk]=New Window
Name[ml]=New Window
Name[mn]=New Window
Name[ms]=New Window
Name[nb]=New Window
Name[nds]=New Window
Name[ne]=New Window
Name[nl]=New Window
Name[nn]=New Window
Name[oc]=New Window
Name[or]=New Window
Name[pa]=New Window
Name[pl]=New Window
Name[ps]=New Window
Name[pt]=New Window
Name[pt_BR]=New Window
Name[ro]=New Window
Name[ru]=New Window
Name[rw]=New Window
Name[si]=New Window
Name[sk]=New Window
Name[sl]=New Window
Name[sq]=New Window
Name[sr]=New Window
Name[sr@latin]=New Window
Name[sv]=New Window
Name[tr]=New Window
Name[ug]=New Window
Name[uk]=New Window
Name[vi]=New Window
Name[wa]=New Window
Name[xh]=New Window
Name[zh_CN]=New Window
Name[zh_TW]=New Window
Exec=gnome-terminal --window

[Desktop Action preferences]
Name=Preferences
Name[ab]=Preferences
Name[an]=Preferences
Name[ar]=Preferences
Name[as]=Preferences
Name[be]=Preferences
Name[bg]=Preferences
Name[bn_IN]=Preferences
Name[bs]=Preferences
Name[ca]=Preferences
Name[ca@valencia]=Preferences
Name[cs]=Preferences
Name[da]=Preferences
Name[de]=Preferences
Name[el]=Preferences
Name[en_GB]=Preferences
Name[eo]=Preferences
Name[es]=Preferences
Name[et]=Preferences
Name[eu]=Preferences
Name[fa]=Preferences
Name[fi]=Preferences
Name[fr]=Preferences
Name[fur]=Preferences
Name[ga]=Preferences
Name[gd]=Preferences
Name[gl]=Preferences
Name[gu]=Preferences
Name[he]=Preferences
Name[hi]=Preferences
Name[hr]=Preferences
Name[hu]=Preferences
Name[id]=Preferences
Name[ie]=Preferences
Name[is]=Preferences
Name[it]=Preferences
Name[ja]=Preferences
Name[ka]=Preferences
Name[kab]=Preferences
Name[kk]=Preferences
Name[km]=Preferences
Name[kn]=Preferences
Name[ko]=Preferences
Name[lt]=Preferences
Name[lv]=Preferences
Name[ml]=Preferences
Name[mr]=Preferences
Name[ms]=Preferences
Name[nb]=Preferences
Name[ne]=Preferences
Name[nl]=Preferences
Name[oc]=Preferences
Name[or]=Preferences
Name[pa]=Preferences
Name[pl]=Preferences
Name[pt]=Preferences
Name[pt_BR]=Preferences
Name[ro]=Preferences
Name[ru]=Preferences
Name[sk]=Preferences
Name[sl]=Preferences
Name[sr]=Preferences
Name[sr@latin]=Preferences
Name[sv]=Preferences
Name[ta]=Preferences
Name[te]=Preferences
Name[tg]=Preferences
Name[th]=Preferences
Name[tr]=Preferences
Name[ug]=Preferences
Name[uk]=Preferences
Name[vi]=Preferences
Name[zh_CN]=Preferences
Name[zh_HK]=Preferences
Name[zh_TW]=Preferences
Exec=gnome-terminal --preferences

