[Desktop Entry]
Version=1.0
Name=Notepad
Comment=Simple Text Editor
GenericName=Text Editor
Exec=mousepad %U
Icon=/usr/share/pixmaps/notepad.svg
Terminal=false
StartupNotify=false
Type=Application
Categories=Utility;TextEditor;GTK;
MimeType=text/plain;
Actions=preferences;

Path=

[Desktop Action preferences]
Name=Mousepad Preferences
Exec=mousepad --preferences
