[Desktop Entry]
Encoding=UTF-8
Name=Pitivi
Name[ca]=Pitivi
Name[cs]=Pitivi
Name[da]=Pitivi
Name[de]=Pitivi
Name[el]=Pitivi
Name[eo]=Pitivi
Name[es]=Pitivi
Name[eu]=Pitivi
Name[fi]=Pitivi
Name[fr]=Pitivi
Name[hu]=Pitivi
Name[id]=Pitivi
Name[it]=Pitivi
Name[lt]=Pitivi
Name[lv]=Pitivi
Name[pl]=Pitivi
Name[pt]=Pitivi
Name[pt_BR]=Pitivi
Name[ro]=Pitivi
Name[ru]=Pitivi
Name[sk]=Pitivi
Name[sl]=Pitivi
Name[sr]=Pitivi
Name[sr@latin]=Pitivi
Name[sv]=Pitivi
Name[tr]=Pitivi
Name[uk]=Pitivi
Name[zh_CN]=Pitivi
Name[zh_TW]=Pitivi
GenericName=Video Editor
GenericName[bs]=Video Editor
GenericName[ca]=Video Editor
GenericName[cs]=Video Editor
GenericName[da]=Video Editor
GenericName[de]=Video Editor
GenericName[el]=Video Editor
GenericName[eo]=Video Editor
GenericName[es]=Video Editor
GenericName[eu]=Video Editor
GenericName[fi]=Video Editor
GenericName[fr]=Video Editor
GenericName[hu]=Video Editor
GenericName[id]=Video Editor
GenericName[it]=Video Editor
GenericName[lt]=Video Editor
GenericName[lv]=Video Editor
GenericName[pl]=Video Editor
GenericName[pt]=Video Editor
GenericName[pt_BR]=Video Editor
GenericName[ru]=Video Editor
GenericName[sk]=Video Editor
GenericName[sl]=Video Editor
GenericName[sr]=Video Editor
GenericName[sr@latin]=Video Editor
GenericName[sv]=Video Editor
GenericName[tr]=Video Editor
GenericName[uk]=Video Editor
GenericName[zh_CN]=Video Editor
GenericName[zh_HK]=Video Editor
GenericName[zh_TW]=Video Editor
Comment=Create and edit your own movies
Comment[ast]=Create and edit your own movies
Comment[bg]=Create and edit your own movies
Comment[bs]=Create and edit your own movies
Comment[ca]=Create and edit your own movies
Comment[ca@valencia]=Create and edit your own movies
Comment[cs]=Create and edit your own movies
Comment[da]=Create and edit your own movies
Comment[de]=Create and edit your own movies
Comment[el]=Create and edit your own movies
Comment[en_GB]=Create and edit your own movies
Comment[eo]=Create and edit your own movies
Comment[es]=Create and edit your own movies
Comment[et]=Create and edit your own movies
Comment[eu]=Create and edit your own movies
Comment[fi]=Create and edit your own movies
Comment[fr]=Create and edit your own movies
Comment[gl]=Create and edit your own movies
Comment[he]=Create and edit your own movies
Comment[hu]=Create and edit your own movies
Comment[id]=Create and edit your own movies
Comment[it]=Create and edit your own movies
Comment[ja]=Create and edit your own movies
Comment[ko]=Create and edit your own movies
Comment[ku]=Create and edit your own movies
Comment[lt]=Create and edit your own movies
Comment[lv]=Create and edit your own movies
Comment[nb]=Create and edit your own movies
Comment[nds]=Create and edit your own movies
Comment[nl]=Create and edit your own movies
Comment[oc]=Create and edit your own movies
Comment[pl]=Create and edit your own movies
Comment[pt]=Create and edit your own movies
Comment[pt_BR]=Create and edit your own movies
Comment[ro]=Create and edit your own movies
Comment[ru]=Create and edit your own movies
Comment[sk]=Create and edit your own movies
Comment[sl]=Create and edit your own movies
Comment[sr]=Create and edit your own movies
Comment[sr@latin]=Create and edit your own movies
Comment[sv]=Create and edit your own movies
Comment[te]=Create and edit your own movies
Comment[tr]=Create and edit your own movies
Comment[uk]=Create and edit your own movies
Comment[vi]=Create and edit your own movies
Comment[zh_CN]=Create and edit your own movies
Comment[zh_HK]=Create and edit your own movies
Comment[zh_TW]=Create and edit your own movies
Exec=pitivi %f
Terminal=false
Type=Application
Icon=org.pitivi.Pitivi
Categories=GNOME;GTK;AudioVideo;Video;AudioVideoEditing;
MimeType=text/x-xges;text/x-xptv;
StartupNotify=true
Keywords=video;film;movie;editor;
Keywords[ca]=video;film;movie;editor;
Keywords[cs]=video;film;movie;editor;
Keywords[da]=video;film;movie;editor;
Keywords[de]=video;film;movie;editor;
Keywords[es]=video;film;movie;editor;
Keywords[eu]=video;film;movie;editor;
Keywords[fi]=video;film;movie;editor;
Keywords[fr]=video;film;movie;editor;
Keywords[hu]=video;film;movie;editor;
Keywords[id]=video;film;movie;editor;
Keywords[it]=video;film;movie;editor;
Keywords[lt]=video;film;movie;editor;
Keywords[lv]=video;film;movie;editor;
Keywords[pl]=video;film;movie;editor;
Keywords[pt_BR]=video;film;movie;editor;
Keywords[ro]=video;film;movie;editor;
Keywords[ru]=video;film;movie;editor;
Keywords[sk]=video;film;movie;editor;
Keywords[sl]=video;film;movie;editor;
Keywords[sr]=video;film;movie;editor;
Keywords[sr@latin]=video;film;movie;editor;
Keywords[sv]=video;film;movie;editor;
Keywords[tr]=video;film;movie;editor;
Keywords[uk]=video;film;movie;editor;
Keywords[zh_CN]=video;film;movie;editor;
Keywords[zh_TW]=video;film;movie;editor;
Hidden=true

