[Desktop Entry]
Version=1.0
Name=Text Editor Settings
Name[be]=Text Editor Settings
Name[bg]=Text Editor Settings
Name[cs]=Text Editor Settings
Name[da]=Text Editor Settings
Name[de]=Text Editor Settings
Name[el]=Text Editor Settings
Name[es]=Text Editor Settings
Name[et]=Text Editor Settings
Name[eu]=Text Editor Settings
Name[fi]=Text Editor Settings
Name[fr]=Text Editor Settings
Name[gl]=Text Editor Settings
Name[he]=Text Editor Settings
Name[id]=Text Editor Settings
Name[it]=Text Editor Settings
Name[ja]=Text Editor Settings
Name[lt]=Text Editor Settings
Name[nb]=Text Editor Settings
Name[nl]=Text Editor Settings
Name[pl]=Text Editor Settings
Name[pt]=Text Editor Settings
Name[pt_BR]=Text Editor Settings
Name[ru]=Text Editor Settings
Name[sk]=Text Editor Settings
Name[sl]=Text Editor Settings
Name[sq]=Text Editor Settings
Name[sr]=Text Editor Settings
Name[sv]=Text Editor Settings
Name[th]=Text Editor Settings
Name[tr]=Text Editor Settings
Name[uk]=Text Editor Settings
Name[zh_CN]=Text Editor Settings
Name[zh_TW]=Text Editor Settings
Comment=Configure the Mousepad text editor
Comment[be]=Configure the Mousepad text editor
Comment[bg]=Configure the Mousepad text editor
Comment[cs]=Configure the Mousepad text editor
Comment[da]=Configure the Mousepad text editor
Comment[de]=Configure the Mousepad text editor
Comment[el]=Configure the Mousepad text editor
Comment[es]=Configure the Mousepad text editor
Comment[et]=Configure the Mousepad text editor
Comment[eu]=Configure the Mousepad text editor
Comment[fr]=Configure the Mousepad text editor
Comment[gl]=Configure the Mousepad text editor
Comment[he]=Configure the Mousepad text editor
Comment[id]=Configure the Mousepad text editor
Comment[it]=Configure the Mousepad text editor
Comment[ja]=Configure the Mousepad text editor
Comment[lt]=Configure the Mousepad text editor
Comment[nb]=Configure the Mousepad text editor
Comment[nl]=Configure the Mousepad text editor
Comment[pl]=Configure the Mousepad text editor
Comment[pt]=Configure the Mousepad text editor
Comment[pt_BR]=Configure the Mousepad text editor
Comment[ru]=Configure the Mousepad text editor
Comment[sl]=Configure the Mousepad text editor
Comment[sq]=Configure the Mousepad text editor
Comment[sr]=Configure the Mousepad text editor
Comment[sv]=Configure the Mousepad text editor
Comment[th]=Configure the Mousepad text editor
Comment[tr]=Configure the Mousepad text editor
Comment[uk]=Configure the Mousepad text editor
Comment[zh_CN]=Configure the Mousepad text editor
Comment[zh_TW]=Configure the Mousepad text editor
Exec=mousepad --preferences
Icon=org.xfce.mousepad
Terminal=false
Type=Application
Categories=XFCE;GTK;Settings;DesktopSettings;X-XFCE-SettingsDialog;X-XFCE-PersonalSettings;
StartupNotify=true
NotShowIn=GNOME;
Hidden=true

