[Desktop Entry]
Name=VirtualBox 6.1.44
GenericName=PC virtualization solution
Type=Application
Exec=VirtualBox %U
TryExec=VirtualBox
Keywords=virtualization;
MimeType=application/x-virtualbox-vbox;application/x-virtualbox-vbox-extpack;application/x-virtualbox-ovf;application/x-virtualbox-ova;
Icon=/usr/share/pixmaps/virtualbox.png
Categories=Pendidikan;System;
Actions=Manager;
Comment=Run several virtual systems on a single host computer
Hidden=false
NoDisplay=false
Path=
Terminal=false
StartupNotify=false

[Desktop Action Manager]
Exec=VirtualBox
Name=Open Oracle VM Manager
