[Desktop Entry]
Version=1.0
Type=Application
Name=File Manager as root
Comment=Thunar as root
Exec=sudo thunar /
Icon=krusader_root
Path=
Terminal=false
StartupNotify=false
Categories=Utility;
