[Desktop Entry]
Encoding=UTF-8
Name=Movie Editor
GenericName=Video Editor
Comment=Create and edit your own movies
Exec=pitivi %f
Terminal=false
Type=Application
Icon=org.pitivi.Pitivi
Categories=Pendidikan;AudioVideo;
MimeType=text/x-xges;text/x-xptv;
StartupNotify=true
Keywords=video;film;movie;editor;
Hidden=false

Path=
