[Desktop Entry]
Version=1.0
Name=Pinta
Name[af]=Pinta
Name[ast]=Pinta
Name[az]=Pinta
Name[be]=Pinta
Name[bg]=Pinta
Name[bn]=Pinta
Name[br]=Pinta
Name[ca]=Pinta
Name[cs]=Pinta
Name[da]=Pinta
Name[de]=Pinta
Name[el]=Pinta
Name[en_AU]=Pinta
Name[en_CA]=Pinta
Name[en_GB]=Pinta
Name[eo]=Pinta
Name[es]=Pinta
Name[eu]=Pinta
Name[fa]=Pinta
Name[fi]=Pinta
Name[fr]=Pinta
Name[gl]=Pinta
Name[he]=Pinta
Name[hu]=Pinta
Name[id]=Pinta
Name[it]=Pinta
Name[ja]=Pinta
Name[kab]=Pinta
Name[lt]=Pinta
Name[ms]=Pinta
Name[nl]=Pinta
Name[oc]=Pinta
Name[pl]=Pinta
Name[pt]=Pinta
Name[pt_BR]=Pinta
Name[ro]=Pinta
Name[ru]=Pinta
Name[si]=Pinta
Name[sk]=Pinta
Name[sl]=Pinta
Name[sr]=Pinta
Name[sv]=Pinta
Name[th]=Pinta
Name[tr]=Pinta
Name[uk]=Pinta
Name[vi]=Pinta
Name[zh_CN]=Pinta
Name[zh_TW]=Pinta
Comment=Easily create and edit images
Comment[af]=Easily create and edit images
Comment[ast]=Easily create and edit images
Comment[be]=Easily create and edit images
Comment[bg]=Easily create and edit images
Comment[bn]=Easily create and edit images
Comment[br]=Easily create and edit images
Comment[ca]=Easily create and edit images
Comment[cs]=Easily create and edit images
Comment[da]=Easily create and edit images
Comment[de]=Easily create and edit images
Comment[el]=Easily create and edit images
Comment[en_AU]=Easily create and edit images
Comment[en_CA]=Easily create and edit images
Comment[en_GB]=Easily create and edit images
Comment[eo]=Easily create and edit images
Comment[es]=Easily create and edit images
Comment[eu]=Easily create and edit images
Comment[fa]=Easily create and edit images
Comment[fi]=Easily create and edit images
Comment[fr]=Easily create and edit images
Comment[gl]=Easily create and edit images
Comment[he]=Easily create and edit images
Comment[hu]=Easily create and edit images
Comment[id]=Easily create and edit images
Comment[it]=Easily create and edit images
Comment[ja]=Easily create and edit images
Comment[kab]=Easily create and edit images
Comment[ko]=Easily create and edit images
Comment[ms]=Easily create and edit images
Comment[nl]=Easily create and edit images
Comment[oc]=Easily create and edit images
Comment[pl]=Easily create and edit images
Comment[pt]=Easily create and edit images
Comment[pt_BR]=Easily create and edit images
Comment[ro]=Easily create and edit images
Comment[ru]=Easily create and edit images
Comment[sk]=Easily create and edit images
Comment[sl]=Easily create and edit images
Comment[sr]=Easily create and edit images
Comment[sv]=Easily create and edit images
Comment[th]=Easily create and edit images
Comment[tr]=Easily create and edit images
Comment[uk]=Easily create and edit images
Comment[vi]=Easily create and edit images
Comment[zh_CN]=Easily create and edit images
Comment[zh_HK]=Easily create and edit images
Comment[zh_TW]=Easily create and edit images
GenericName=Image Editor
GenericName[af]=Image Editor
GenericName[ar]=Image Editor
GenericName[ast]=Image Editor
GenericName[az]=Image Editor
GenericName[be]=Image Editor
GenericName[bg]=Image Editor
GenericName[bn]=Image Editor
GenericName[br]=Image Editor
GenericName[ca]=Image Editor
GenericName[cs]=Image Editor
GenericName[da]=Image Editor
GenericName[de]=Image Editor
GenericName[el]=Image Editor
GenericName[en_AU]=Image Editor
GenericName[en_CA]=Image Editor
GenericName[en_GB]=Image Editor
GenericName[eo]=Image Editor
GenericName[es]=Image Editor
GenericName[eu]=Image Editor
GenericName[fa]=Image Editor
GenericName[fi]=Image Editor
GenericName[fr]=Image Editor
GenericName[gl]=Image Editor
GenericName[he]=Image Editor
GenericName[hu]=Image Editor
GenericName[id]=Image Editor
GenericName[it]=Image Editor
GenericName[ja]=Image Editor
GenericName[kab]=Image Editor
GenericName[ko]=Image Editor
GenericName[ms]=Image Editor
GenericName[my]=Image Editor
GenericName[nl]=Image Editor
GenericName[oc]=Image Editor
GenericName[pl]=Image Editor
GenericName[pt]=Image Editor
GenericName[pt_BR]=Image Editor
GenericName[ro]=Image Editor
GenericName[ru]=Image Editor
GenericName[sk]=Image Editor
GenericName[sl]=Image Editor
GenericName[sr]=Image Editor
GenericName[sv]=Image Editor
GenericName[th]=Image Editor
GenericName[tr]=Image Editor
GenericName[uk]=Image Editor
GenericName[vi]=Image Editor
GenericName[zh_CN]=Image Editor
GenericName[zh_HK]=Image Editor
GenericName[zh_TW]=Image Editor
X-GNOME-FullName=Pinta Image Editor
X-GNOME-FullName[af]=Pinta Image Editor
X-GNOME-FullName[ast]=Pinta Image Editor
X-GNOME-FullName[az]=Pinta Image Editor
X-GNOME-FullName[be]=Pinta Image Editor
X-GNOME-FullName[bg]=Pinta Image Editor
X-GNOME-FullName[bn]=Pinta Image Editor
X-GNOME-FullName[br]=Pinta Image Editor
X-GNOME-FullName[ca]=Pinta Image Editor
X-GNOME-FullName[cs]=Pinta Image Editor
X-GNOME-FullName[da]=Pinta Image Editor
X-GNOME-FullName[de]=Pinta Image Editor
X-GNOME-FullName[el]=Pinta Image Editor
X-GNOME-FullName[en_AU]=Pinta Image Editor
X-GNOME-FullName[en_CA]=Pinta Image Editor
X-GNOME-FullName[en_GB]=Pinta Image Editor
X-GNOME-FullName[eo]=Pinta Image Editor
X-GNOME-FullName[es]=Pinta Image Editor
X-GNOME-FullName[eu]=Pinta Image Editor
X-GNOME-FullName[fa]=Pinta Image Editor
X-GNOME-FullName[fi]=Pinta Image Editor
X-GNOME-FullName[fr]=Pinta Image Editor
X-GNOME-FullName[gl]=Pinta Image Editor
X-GNOME-FullName[he]=Pinta Image Editor
X-GNOME-FullName[hu]=Pinta Image Editor
X-GNOME-FullName[id]=Pinta Image Editor
X-GNOME-FullName[it]=Pinta Image Editor
X-GNOME-FullName[ja]=Pinta Image Editor
X-GNOME-FullName[kab]=Pinta Image Editor
X-GNOME-FullName[ms]=Pinta Image Editor
X-GNOME-FullName[nl]=Pinta Image Editor
X-GNOME-FullName[oc]=Pinta Image Editor
X-GNOME-FullName[pl]=Pinta Image Editor
X-GNOME-FullName[pt]=Pinta Image Editor
X-GNOME-FullName[pt_BR]=Pinta Image Editor
X-GNOME-FullName[ro]=Pinta Image Editor
X-GNOME-FullName[ru]=Pinta Image Editor
X-GNOME-FullName[sk]=Pinta Image Editor
X-GNOME-FullName[sl]=Pinta Image Editor
X-GNOME-FullName[sr]=Pinta Image Editor
X-GNOME-FullName[sv]=Pinta Image Editor
X-GNOME-FullName[th]=Pinta Image Editor
X-GNOME-FullName[tr]=Pinta Image Editor
X-GNOME-FullName[uk]=Pinta Image Editor
X-GNOME-FullName[vi]=Pinta Image Editor
X-GNOME-FullName[zh_CN]=Pinta Image Editor
X-GNOME-FullName[zh_HK]=Pinta Image Editor
X-GNOME-FullName[zh_TW]=Pinta Image Editor
Exec=/usr/bin/flatpak run --branch=stable --arch=x86_64 --command=pinta --file-forwarding com.github.PintaProject.Pinta @@ %F @@
Icon=com.github.PintaProject.Pinta
StartupNotify=false
StartupWMClass=Pinta
Terminal=false
Type=Application
Categories=Graphics;2DGraphics;RasterGraphics;GTK;
Keywords=draw;drawing;paint;painting;graphics;raster;2d;
Keywords[af]=draw;drawing;paint;painting;graphics;raster;2d;
Keywords[be]=draw;drawing;paint;painting;graphics;raster;2d;
Keywords[ca]=draw;drawing;paint;painting;graphics;raster;2d;
Keywords[cs]=draw;drawing;paint;painting;graphics;raster;2d;
Keywords[da]=draw;drawing;paint;painting;graphics;raster;2d;
Keywords[de]=draw;drawing;paint;painting;graphics;raster;2d;
Keywords[en_AU]=draw;drawing;paint;painting;graphics;raster;2d;
Keywords[en_CA]=draw;drawing;paint;painting;graphics;raster;2d;
Keywords[en_GB]=draw;drawing;paint;painting;graphics;raster;2d;
Keywords[es]=draw;drawing;paint;painting;graphics;raster;2d;
Keywords[eu]=draw;drawing;paint;painting;graphics;raster;2d;
Keywords[fi]=draw;drawing;paint;painting;graphics;raster;2d;
Keywords[fr]=draw;drawing;paint;painting;graphics;raster;2d;
Keywords[gl]=draw;drawing;paint;painting;graphics;raster;2d;
Keywords[he]=draw;drawing;paint;painting;graphics;raster;2d;
Keywords[id]=draw;drawing;paint;painting;graphics;raster;2d;
Keywords[it]=draw;drawing;paint;painting;graphics;raster;2d;
Keywords[ja]=draw;drawing;paint;painting;graphics;raster;2d;
Keywords[ms]=draw;drawing;paint;painting;graphics;raster;2d;
Keywords[nl]=draw;drawing;paint;painting;graphics;raster;2d;
Keywords[pl]=draw;drawing;paint;painting;graphics;raster;2d;
Keywords[pt]=draw;drawing;paint;painting;graphics;raster;2d;
Keywords[pt_BR]=draw;drawing;paint;painting;graphics;raster;2d;
Keywords[ru]=draw;drawing;paint;painting;graphics;raster;2d;
Keywords[sk]=draw;drawing;paint;painting;graphics;raster;2d;
Keywords[sl]=draw;drawing;paint;painting;graphics;raster;2d;
Keywords[sr]=draw;drawing;paint;painting;graphics;raster;2d;
Keywords[sv]=draw;drawing;paint;painting;graphics;raster;2d;
Keywords[tr]=draw;drawing;paint;painting;graphics;raster;2d;
Keywords[uk]=draw;drawing;paint;painting;graphics;raster;2d;
Keywords[zh_CN]=draw;drawing;paint;painting;graphics;raster;2d;
Keywords[zh_TW]=draw;drawing;paint;painting;graphics;raster;2d;
MimeType=image/bmp;image/gif;image/jpeg;image/jpg;image/pjpeg;image/png;image/svg+xml;image/tiff;image/x-bmp;image/x-gray;image/x-icb;image/x-ico;image/x-png;image/x-portable-anymap;image/x-portable-bitmap;image/x-portable-graymap;image/x-portable-pixmap;image/x-xbitmap;image/x-xpixmap;image/x-pcx;image/x-targa;image/x-tga;image/openraster;
X-Flatpak-RenamedFrom=pinta.desktop;
X-Flatpak=com.github.PintaProject.Pinta
