[Desktop Entry]
Type=Application
Exec=qterminal --drop
Terminal=false
Categories=Qt;System;TerminalEmulator;
Icon=utilities-terminal
Name=QTerminal drop down
Name[ar]=QTerminal drop down
Name[bg]=QTerminal drop down
Name[ca]=QTerminal drop down
Name[cs]=QTerminal drop down
Name[da]=QTerminal drop down
Name[de]=QTerminal drop down
Name[el]=QTerminal drop down
Name[en_GB]=QTerminal drop down
Name[es]=QTerminal drop down
Name[et]=QTerminal drop down
Name[fr]=QTerminal drop down
Name[he]=QTerminal drop down
Name[hi]=QTerminal drop down
Name[hr]=QTerminal drop down
Name[hu]=QTerminal drop down
Name[it]=QTerminal drop down
Name[ja]=QTerminal drop down
Name[ko]=QTerminal drop down
Name[lt]=QTerminal drop down
Name[lv]=QTerminal drop down
Name[nb]=QTerminal drop down
Name[nl]=QTerminal drop down
Name[pl]=QTerminal drop down
Name[pt]=QTerminal drop down
Name[pt_BR]=QTerminal drop down
Name[ru]=QTerminal drop down
Name[sk]=QTerminal drop down
Name[sl]=QTerminal drop down
Name[sv]=QTerminal drop down
Name[tr]=QTerminal drop down
Name[uk]=QTerminal drop down
Name[vi]=QTerminal drop down
Name[zh_CN]=QTerminal drop down
Name[zh_TW]=QTerminal drop down
GenericName=Drop-down Terminal
GenericName[ar]=Drop-down Terminal
GenericName[bg]=Drop-down Terminal
GenericName[ca]=Drop-down Terminal
GenericName[ca@valencia]=Drop-down Terminal
GenericName[cs]=Drop-down Terminal
GenericName[da]=Drop-down Terminal
GenericName[de]=Drop-down Terminal
GenericName[el]=Drop-down Terminal
GenericName[en_GB]=Drop-down Terminal
GenericName[es]=Drop-down Terminal
GenericName[et]=Drop-down Terminal
GenericName[fr]=Drop-down Terminal
GenericName[he]=Drop-down Terminal
GenericName[hi]=Drop-down Terminal
GenericName[hr]=Drop-down Terminal
GenericName[hu]=Drop-down Terminal
GenericName[it]=Drop-down Terminal
GenericName[ja]=Drop-down Terminal
GenericName[km]=Drop-down Terminal
GenericName[ko]=Drop-down Terminal
GenericName[lt]=Drop-down Terminal
GenericName[lv]=Drop-down Terminal
GenericName[nb]=Drop-down Terminal
GenericName[nds]=Drop-down Terminal
GenericName[nl]=Drop-down Terminal
GenericName[pa]=Drop-down Terminal
GenericName[pl]=Drop-down Terminal
GenericName[pt]=Drop-down Terminal
GenericName[pt_BR]=Drop-down Terminal
GenericName[ro]=Drop-down Terminal
GenericName[ru]=Drop-down Terminal
GenericName[sk]=Drop-down Terminal
GenericName[sl]=Drop-down Terminal
GenericName[sv]=Drop-down Terminal
GenericName[th]=Drop-down Terminal
GenericName[tr]=Drop-down Terminal
GenericName[uk]=Drop-down Terminal
GenericName[vi]=Drop-down Terminal
GenericName[zh_CN]=Drop-down Terminal
GenericName[zh_TW]=Drop-down Terminal
Comment=A drop-down terminal emulator
Comment[ar]=A drop-down terminal emulator
Comment[bg]=A drop-down terminal emulator
Comment[ca]=A drop-down terminal emulator
Comment[cs]=A drop-down terminal emulator
Comment[da]=A drop-down terminal emulator
Comment[de]=A drop-down terminal emulator
Comment[el]=A drop-down terminal emulator
Comment[en_GB]=A drop-down terminal emulator
Comment[es]=A drop-down terminal emulator
Comment[et]=A drop-down terminal emulator
Comment[fr]=A drop-down terminal emulator
Comment[he]=A drop-down terminal emulator
Comment[hi]=A drop-down terminal emulator
Comment[hr]=A drop-down terminal emulator
Comment[hu]=A drop-down terminal emulator
Comment[it]=A drop-down terminal emulator
Comment[ja]=A drop-down terminal emulator
Comment[ko]=A drop-down terminal emulator
Comment[lt]=A drop-down terminal emulator
Comment[lv]=A drop-down terminal emulator
Comment[nb]=A drop-down terminal emulator
Comment[nl]=A drop-down terminal emulator
Comment[pl]=A drop-down terminal emulator
Comment[pt]=A drop-down terminal emulator
Comment[pt_BR]=A drop-down terminal emulator
Comment[ru]=A drop-down terminal emulator
Comment[sk]=A drop-down terminal emulator
Comment[sl]=A drop-down terminal emulator
Comment[sv]=A drop-down terminal emulator
Comment[tr]=A drop-down terminal emulator
Comment[uk]=A drop-down terminal emulator
Comment[vi]=A drop-down terminal emulator
Comment[zh_CN]=A drop-down terminal emulator
Comment[zh_TW]=A drop-down terminal emulator
Hidden=true

