[Desktop Entry]
Encoding=UTF-8
Name=QTerminal Root
Comment=Opens a terminal as the root user, using sudo to ask for the password
Exec=qterminal --geometry 912x472+236+126  -e "zsh -c 'pkexec'"
Icon=utilities-root-terminal
StartupNotify=false
Terminal=false
Type=Application
Categories=System;TerminalEmulator;
X-Kali-Package=kali-menu
Path=
