[Desktop Entry]
Version=1.0
Name=File Manager Settings
Name[ar]=File Manager Settings
Name[be]=File Manager Settings
Name[bg]=File Manager Settings
Name[ca]=File Manager Settings
Name[cs]=File Manager Settings
Name[da]=File Manager Settings
Name[de]=File Manager Settings
Name[el]=File Manager Settings
Name[en_GB]=File Manager Settings
Name[es]=File Manager Settings
Name[et]=File Manager Settings
Name[eu]=File Manager Settings
Name[fi]=File Manager Settings
Name[fr]=File Manager Settings
Name[gl]=File Manager Settings
Name[he]=File Manager Settings
Name[hr]=File Manager Settings
Name[hu]=File Manager Settings
Name[hy_AM]=File Manager Settings
Name[hye]=File Manager Settings
Name[id]=File Manager Settings
Name[ie]=File Manager Settings
Name[it]=File Manager Settings
Name[ja]=File Manager Settings
Name[kk]=File Manager Settings
Name[ko]=File Manager Settings
Name[lt]=File Manager Settings
Name[ms]=File Manager Settings
Name[nb]=File Manager Settings
Name[nl]=File Manager Settings
Name[oc]=File Manager Settings
Name[pl]=File Manager Settings
Name[pt]=File Manager Settings
Name[pt_BR]=File Manager Settings
Name[ru]=File Manager Settings
Name[sk]=File Manager Settings
Name[sl]=File Manager Settings
Name[sq]=File Manager Settings
Name[sr]=File Manager Settings
Name[sv]=File Manager Settings
Name[th]=File Manager Settings
Name[tr]=File Manager Settings
Name[uk]=File Manager Settings
Name[vi]=File Manager Settings
Name[zh_CN]=File Manager Settings
Name[zh_TW]=File Manager Settings
Comment=Configure the Thunar file manager
Comment[ar]=Configure the Thunar file manager
Comment[ast]=Configure the Thunar file manager
Comment[be]=Configure the Thunar file manager
Comment[bg]=Configure the Thunar file manager
Comment[bn]=Configure the Thunar file manager
Comment[ca]=Configure the Thunar file manager
Comment[cs]=Configure the Thunar file manager
Comment[da]=Configure the Thunar file manager
Comment[de]=Configure the Thunar file manager
Comment[el]=Configure the Thunar file manager
Comment[en_AU]=Configure the Thunar file manager
Comment[en_GB]=Configure the Thunar file manager
Comment[es]=Configure the Thunar file manager
Comment[et]=Configure the Thunar file manager
Comment[eu]=Configure the Thunar file manager
Comment[fa_IR]=Configure the Thunar file manager
Comment[fi]=Configure the Thunar file manager
Comment[fr]=Configure the Thunar file manager
Comment[gl]=Configure the Thunar file manager
Comment[he]=Configure the Thunar file manager
Comment[hr]=Configure the Thunar file manager
Comment[hu]=Configure the Thunar file manager
Comment[hy]=Configure the Thunar file manager
Comment[hy_AM]=Configure the Thunar file manager
Comment[hye]=Configure the Thunar file manager
Comment[id]=Configure the Thunar file manager
Comment[ie]=Configure the Thunar file manager
Comment[is]=Configure the Thunar file manager
Comment[it]=Configure the Thunar file manager
Comment[ja]=Configure the Thunar file manager
Comment[kk]=Configure the Thunar file manager
Comment[ko]=Configure the Thunar file manager
Comment[lt]=Configure the Thunar file manager
Comment[lv]=Configure the Thunar file manager
Comment[ms]=Configure the Thunar file manager
Comment[nb]=Configure the Thunar file manager
Comment[nl]=Configure the Thunar file manager
Comment[nn]=Configure the Thunar file manager
Comment[oc]=Configure the Thunar file manager
Comment[pl]=Configure the Thunar file manager
Comment[pt]=Configure the Thunar file manager
Comment[pt_BR]=Configure the Thunar file manager
Comment[ro]=Configure the Thunar file manager
Comment[ru]=Configure the Thunar file manager
Comment[sk]=Configure the Thunar file manager
Comment[sl]=Configure the Thunar file manager
Comment[sq]=Configure the Thunar file manager
Comment[sr]=Configure the Thunar file manager
Comment[sv]=Configure the Thunar file manager
Comment[te]=Configure the Thunar file manager
Comment[th]=Configure the Thunar file manager
Comment[tr]=Configure the Thunar file manager
Comment[ug]=Configure the Thunar file manager
Comment[uk]=Configure the Thunar file manager
Comment[ur]=Configure the Thunar file manager
Comment[ur_PK]=Configure the Thunar file manager
Comment[vi]=Configure the Thunar file manager
Comment[zh_CN]=Configure the Thunar file manager
Comment[zh_HK]=Configure the Thunar file manager
Comment[zh_TW]=Configure the Thunar file manager
Keywords=thunar;settings;preferences;configure;thumbnails;file size;date format;shortcuts pane;tree view;tabs;
Keywords[be]=thunar;settings;preferences;configure;thumbnails;file size;date format;shortcuts pane;tree view;tabs;
Keywords[bg]=thunar;settings;preferences;configure;thumbnails;file size;date format;shortcuts pane;tree view;tabs;
Keywords[ca]=thunar;settings;preferences;configure;thumbnails;file size;date format;shortcuts pane;tree view;tabs;
Keywords[cs]=thunar;settings;preferences;configure;thumbnails;file size;date format;shortcuts pane;tree view;tabs;
Keywords[da]=thunar;settings;preferences;configure;thumbnails;file size;date format;shortcuts pane;tree view;tabs;
Keywords[de]=thunar;settings;preferences;configure;thumbnails;file size;date format;shortcuts pane;tree view;tabs;
Keywords[el]=thunar;settings;preferences;configure;thumbnails;file size;date format;shortcuts pane;tree view;tabs;
Keywords[es]=thunar;settings;preferences;configure;thumbnails;file size;date format;shortcuts pane;tree view;tabs;
Keywords[et]=thunar;settings;preferences;configure;thumbnails;file size;date format;shortcuts pane;tree view;tabs;
Keywords[eu]=thunar;settings;preferences;configure;thumbnails;file size;date format;shortcuts pane;tree view;tabs;
Keywords[fr]=thunar;settings;preferences;configure;thumbnails;file size;date format;shortcuts pane;tree view;tabs;
Keywords[gl]=thunar;settings;preferences;configure;thumbnails;file size;date format;shortcuts pane;tree view;tabs;
Keywords[he]=thunar;settings;preferences;configure;thumbnails;file size;date format;shortcuts pane;tree view;tabs;
Keywords[hy_AM]=thunar;settings;preferences;configure;thumbnails;file size;date format;shortcuts pane;tree view;tabs;
Keywords[id]=thunar;settings;preferences;configure;thumbnails;file size;date format;shortcuts pane;tree view;tabs;
Keywords[ie]=thunar;settings;preferences;configure;thumbnails;file size;date format;shortcuts pane;tree view;tabs;
Keywords[it]=thunar;settings;preferences;configure;thumbnails;file size;date format;shortcuts pane;tree view;tabs;
Keywords[ja]=thunar;settings;preferences;configure;thumbnails;file size;date format;shortcuts pane;tree view;tabs;
Keywords[kk]=thunar;settings;preferences;configure;thumbnails;file size;date format;shortcuts pane;tree view;tabs;
Keywords[ko]=thunar;settings;preferences;configure;thumbnails;file size;date format;shortcuts pane;tree view;tabs;
Keywords[lt]=thunar;settings;preferences;configure;thumbnails;file size;date format;shortcuts pane;tree view;tabs;
Keywords[ms]=thunar;settings;preferences;configure;thumbnails;file size;date format;shortcuts pane;tree view;tabs;
Keywords[nb]=thunar;settings;preferences;configure;thumbnails;file size;date format;shortcuts pane;tree view;tabs;
Keywords[nl]=thunar;settings;preferences;configure;thumbnails;file size;date format;shortcuts pane;tree view;tabs;
Keywords[oc]=thunar;settings;preferences;configure;thumbnails;file size;date format;shortcuts pane;tree view;tabs;
Keywords[pl]=thunar;settings;preferences;configure;thumbnails;file size;date format;shortcuts pane;tree view;tabs;
Keywords[pt]=thunar;settings;preferences;configure;thumbnails;file size;date format;shortcuts pane;tree view;tabs;
Keywords[pt_BR]=thunar;settings;preferences;configure;thumbnails;file size;date format;shortcuts pane;tree view;tabs;
Keywords[ru]=thunar;settings;preferences;configure;thumbnails;file size;date format;shortcuts pane;tree view;tabs;
Keywords[sk]=thunar;settings;preferences;configure;thumbnails;file size;date format;shortcuts pane;tree view;tabs;
Keywords[sl]=thunar;settings;preferences;configure;thumbnails;file size;date format;shortcuts pane;tree view;tabs;
Keywords[sq]=thunar;settings;preferences;configure;thumbnails;file size;date format;shortcuts pane;tree view;tabs;
Keywords[sr]=thunar;settings;preferences;configure;thumbnails;file size;date format;shortcuts pane;tree view;tabs;
Keywords[sv]=thunar;settings;preferences;configure;thumbnails;file size;date format;shortcuts pane;tree view;tabs;
Keywords[th]=thunar;settings;preferences;configure;thumbnails;file size;date format;shortcuts pane;tree view;tabs;
Keywords[tr]=thunar;settings;preferences;configure;thumbnails;file size;date format;shortcuts pane;tree view;tabs;
Keywords[uk]=thunar;settings;preferences;configure;thumbnails;file size;date format;shortcuts pane;tree view;tabs;
Keywords[zh_CN]=thunar;settings;preferences;configure;thumbnails;file size;date format;shortcuts pane;tree view;tabs;
Keywords[zh_TW]=thunar;settings;preferences;configure;thumbnails;file size;date format;shortcuts pane;tree view;tabs;
Exec=thunar-settings
Icon=org.xfce.thunar
Terminal=false
Type=Application
Categories=XFCE;GTK;Settings;DesktopSettings;X-XFCE-SettingsDialog;X-XFCE-PersonalSettings;
StartupNotify=true
Hidden=true

