[Desktop Entry]
Version=1.0
Type=Application
Name=Update
Comment=Update system
Exec=sudo gnome-terminal -e "./update.sh"
Icon=terminus
Path=$HOME
Terminal=false
StartupNotify=false
