[Desktop Entry]
Name=KVM
Comment=Virtual Machine Manager
Icon=virt-manager
Exec=sudo virt-manager
Type=Application
Terminal=false
Keywords=vmm;
Categories=System;
Path=
StartupNotify=false
