[Desktop Entry]
Name=K - VM
Comment=Virtual Machine Manager
Icon=/usr/share/pixmaps/hyper-v.png
Exec=sudo virt-manager
Type=Application
Terminal=false
Keywords=vmm;
Categories=System;
Path=
StartupNotify=false
