[Desktop Entry]
Version=1.0
Type=Application
Exec=xfce4-about
Icon=computer
StartupNotify=false
Terminal=false
Categories=Utility;Settings;X-XFCE;X-Xfce-Toplevel;
OnlyShowIn=XFCE;
Name=About This Device
Comment=Information about the Xfce Desktop Environment
Path=
