[Desktop Entry]
Version=1.0
Name=Clipboard Manager Settings
Name[bg]=Clipboard Manager Settings
Name[ca]=Clipboard Manager Settings
Name[da]=Clipboard Manager Settings
Name[de]=Clipboard Manager Settings
Name[es]=Clipboard Manager Settings
Name[et]=Clipboard Manager Settings
Name[fi]=Clipboard Manager Settings
Name[fr]=Clipboard Manager Settings
Name[gl]=Clipboard Manager Settings
Name[he]=Clipboard Manager Settings
Name[hye]=Clipboard Manager Settings
Name[id]=Clipboard Manager Settings
Name[it]=Clipboard Manager Settings
Name[ja]=Clipboard Manager Settings
Name[lt]=Clipboard Manager Settings
Name[nb]=Clipboard Manager Settings
Name[nl]=Clipboard Manager Settings
Name[pl]=Clipboard Manager Settings
Name[pt]=Clipboard Manager Settings
Name[pt_BR]=Clipboard Manager Settings
Name[ru]=Clipboard Manager Settings
Name[sq]=Clipboard Manager Settings
Name[sr]=Clipboard Manager Settings
Name[tr]=Clipboard Manager Settings
Name[uk]=Clipboard Manager Settings
Name[zh_CN]=Clipboard Manager Settings
Name[zh_TW]=Clipboard Manager Settings
Comment=Customize your clipboard
Comment[bg]=Customize your clipboard
Comment[ca]=Customize your clipboard
Comment[da]=Customize your clipboard
Comment[de]=Customize your clipboard
Comment[es]=Customize your clipboard
Comment[et]=Customize your clipboard
Comment[fi]=Customize your clipboard
Comment[fr]=Customize your clipboard
Comment[gl]=Customize your clipboard
Comment[he]=Customize your clipboard
Comment[hu]=Customize your clipboard
Comment[hye]=Customize your clipboard
Comment[it]=Customize your clipboard
Comment[ja]=Customize your clipboard
Comment[lt]=Customize your clipboard
Comment[nb]=Customize your clipboard
Comment[nl]=Customize your clipboard
Comment[pl]=Customize your clipboard
Comment[pt]=Customize your clipboard
Comment[pt_BR]=Customize your clipboard
Comment[ru]=Customize your clipboard
Comment[sq]=Customize your clipboard
Comment[sr]=Customize your clipboard
Comment[tr]=Customize your clipboard
Comment[uk]=Customize your clipboard
Comment[zh_CN]=Customize your clipboard
Comment[zh_TW]=Customize your clipboard
Exec=xfce4-clipman-settings
Icon=xfce4-clipman-plugin
Terminal=false
StartupNotify=true
Type=Application
OnlyShowIn=XFCE;
Categories=XFCE;GTK;Settings;DesktopSettings;X-XFCE-SettingsDialog;X-XFCE-PersonalSettings;
X-XfcePluggable=true
X-XfceHelpComponent=clipman
X-XfceHelpPage=start
Hidden=true

