[Desktop Entry]
Name=Autostart startup and session
Comment=Customize desktop startup
Exec=xfce4-session-settings
Icon=org.xfce.session
Terminal=false
StartupNotify=false
Type=Application
Categories=XFCE;GTK;Settings;DesktopSettings;X-XFCE-SettingsDialog;X-XFCE-SystemSettings;
Keywords=session;settings;preferences;manager;startup;login;logout;shutdown;lock screen;application;autostart;launch;services;daemon;agent;OnlyShowIn=XFCE;
X-XfcePluggable=true
X-XfceHelpComponent=xfce4-session
X-XfceHelpPage=preferences
Path=
