[Desktop Entry]
Name=Settings Editor
Name[am]=Settings Editor
Name[ar]=Settings Editor
Name[ast]=Settings Editor
Name[be]=Settings Editor
Name[be@tarask]=Settings Editor
Name[bg]=Settings Editor
Name[bn]=Settings Editor
Name[ca]=Settings Editor
Name[cs]=Settings Editor
Name[da]=Settings Editor
Name[de]=Settings Editor
Name[el]=Settings Editor
Name[en_AU]=Settings Editor
Name[en_CA]=Settings Editor
Name[en_GB]=Settings Editor
Name[es]=Settings Editor
Name[et]=Settings Editor
Name[eu]=Settings Editor
Name[fi]=Settings Editor
Name[fr]=Settings Editor
Name[gl]=Settings Editor
Name[he]=Settings Editor
Name[hr]=Settings Editor
Name[hu]=Settings Editor
Name[hy_AM]=Settings Editor
Name[hye]=Settings Editor
Name[id]=Settings Editor
Name[ie]=Settings Editor
Name[is]=Settings Editor
Name[it]=Settings Editor
Name[ja]=Settings Editor
Name[ka]=Settings Editor
Name[kab]=Settings Editor
Name[kk]=Settings Editor
Name[ko]=Settings Editor
Name[lt]=Settings Editor
Name[lv]=Settings Editor
Name[ms]=Settings Editor
Name[nb]=Settings Editor
Name[nl]=Settings Editor
Name[nn]=Settings Editor
Name[oc]=Settings Editor
Name[pa]=Settings Editor
Name[pl]=Settings Editor
Name[pt]=Settings Editor
Name[pt_BR]=Settings Editor
Name[ro]=Settings Editor
Name[ru]=Settings Editor
Name[sk]=Settings Editor
Name[sl]=Settings Editor
Name[sq]=Settings Editor
Name[sr]=Settings Editor
Name[sv]=Settings Editor
Name[te]=Settings Editor
Name[th]=Settings Editor
Name[tr]=Settings Editor
Name[ug]=Settings Editor
Name[uk]=Settings Editor
Name[ur]=Settings Editor
Name[ur_PK]=Settings Editor
Name[zh_CN]=Settings Editor
Name[zh_HK]=Settings Editor
Name[zh_TW]=Settings Editor
Comment=Graphical settings editor for Xfconf
Comment[ar]=Graphical settings editor for Xfconf
Comment[ast]=Graphical settings editor for Xfconf
Comment[be]=Graphical settings editor for Xfconf
Comment[be@tarask]=Graphical settings editor for Xfconf
Comment[bg]=Graphical settings editor for Xfconf
Comment[bn]=Graphical settings editor for Xfconf
Comment[ca]=Graphical settings editor for Xfconf
Comment[cs]=Graphical settings editor for Xfconf
Comment[da]=Graphical settings editor for Xfconf
Comment[de]=Graphical settings editor for Xfconf
Comment[el]=Graphical settings editor for Xfconf
Comment[en_AU]=Graphical settings editor for Xfconf
Comment[en_CA]=Graphical settings editor for Xfconf
Comment[en_GB]=Graphical settings editor for Xfconf
Comment[es]=Graphical settings editor for Xfconf
Comment[et]=Graphical settings editor for Xfconf
Comment[eu]=Graphical settings editor for Xfconf
Comment[fi]=Graphical settings editor for Xfconf
Comment[fr]=Graphical settings editor for Xfconf
Comment[gl]=Graphical settings editor for Xfconf
Comment[he]=Graphical settings editor for Xfconf
Comment[hr]=Graphical settings editor for Xfconf
Comment[hu]=Graphical settings editor for Xfconf
Comment[hy_AM]=Graphical settings editor for Xfconf
Comment[hye]=Graphical settings editor for Xfconf
Comment[id]=Graphical settings editor for Xfconf
Comment[ie]=Graphical settings editor for Xfconf
Comment[is]=Graphical settings editor for Xfconf
Comment[it]=Graphical settings editor for Xfconf
Comment[ja]=Graphical settings editor for Xfconf
Comment[kab]=Graphical settings editor for Xfconf
Comment[kk]=Graphical settings editor for Xfconf
Comment[ko]=Graphical settings editor for Xfconf
Comment[lt]=Graphical settings editor for Xfconf
Comment[lv]=Graphical settings editor for Xfconf
Comment[ms]=Graphical settings editor for Xfconf
Comment[nb]=Graphical settings editor for Xfconf
Comment[nl]=Graphical settings editor for Xfconf
Comment[nn]=Graphical settings editor for Xfconf
Comment[oc]=Graphical settings editor for Xfconf
Comment[pl]=Graphical settings editor for Xfconf
Comment[pt]=Graphical settings editor for Xfconf
Comment[pt_BR]=Graphical settings editor for Xfconf
Comment[ro]=Graphical settings editor for Xfconf
Comment[ru]=Graphical settings editor for Xfconf
Comment[sk]=Graphical settings editor for Xfconf
Comment[sl]=Graphical settings editor for Xfconf
Comment[sq]=Graphical settings editor for Xfconf
Comment[sr]=Graphical settings editor for Xfconf
Comment[sv]=Graphical settings editor for Xfconf
Comment[te]=Graphical settings editor for Xfconf
Comment[th]=Graphical settings editor for Xfconf
Comment[tr]=Graphical settings editor for Xfconf
Comment[ug]=Graphical settings editor for Xfconf
Comment[uk]=Graphical settings editor for Xfconf
Comment[ur]=Graphical settings editor for Xfconf
Comment[ur_PK]=Graphical settings editor for Xfconf
Comment[zh_CN]=Graphical settings editor for Xfconf
Comment[zh_HK]=Graphical settings editor for Xfconf
Comment[zh_TW]=Graphical settings editor for Xfconf
Keywords=registry;regedit;configuration file;
Keywords[be]=registry;regedit;configuration file;
Keywords[be@tarask]=registry;regedit;configuration file;
Keywords[bg]=registry;regedit;configuration file;
Keywords[ca]=registry;regedit;configuration file;
Keywords[cs]=registry;regedit;configuration file;
Keywords[da]=registry;regedit;configuration file;
Keywords[de]=registry;regedit;configuration file;
Keywords[el]=registry;regedit;configuration file;
Keywords[en_CA]=registry;regedit;configuration file;
Keywords[en_GB]=registry;regedit;configuration file;
Keywords[es]=registry;regedit;configuration file;
Keywords[et]=registry;regedit;configuration file;
Keywords[eu]=registry;regedit;configuration file;
Keywords[fr]=registry;regedit;configuration file;
Keywords[gl]=registry;regedit;configuration file;
Keywords[he]=registry;regedit;configuration file;
Keywords[hy_AM]=registry;regedit;configuration file;
Keywords[id]=registry;regedit;configuration file;
Keywords[it]=registry;regedit;configuration file;
Keywords[ja]=registry;regedit;configuration file;
Keywords[kk]=registry;regedit;configuration file;
Keywords[ko]=registry;regedit;configuration file;
Keywords[lt]=registry;regedit;configuration file;
Keywords[ms]=registry;regedit;configuration file;
Keywords[nb]=registry;regedit;configuration file;
Keywords[nl]=registry;regedit;configuration file;
Keywords[oc]=registry;regedit;configuration file;
Keywords[pl]=registry;regedit;configuration file;
Keywords[pt]=registry;regedit;configuration file;
Keywords[pt_BR]=registry;regedit;configuration file;
Keywords[ru]=registry;regedit;configuration file;
Keywords[sk]=registry;regedit;configuration file;
Keywords[sl]=registry;regedit;configuration file;
Keywords[sq]=registry;regedit;configuration file;
Keywords[sr]=registry;regedit;configuration file;
Keywords[sv]=registry;regedit;configuration file;
Keywords[th]=registry;regedit;configuration file;
Keywords[tr]=registry;regedit;configuration file;
Keywords[uk]=registry;regedit;configuration file;
Keywords[zh_CN]=registry;regedit;configuration file;
Keywords[zh_TW]=registry;regedit;configuration file;
Exec=xfce4-settings-editor
Icon=org.xfce.settings.editor
Terminal=false
Type=Application
Categories=XFCE;GTK;Settings;DesktopSettings;X-XFCE-SettingsDialog;
OnlyShowIn=XFCE;
X-XfceSettingsManagerHidden=true
X-XfcePluggable=true
X-XfceHelpPage=editor
Hidden=true

