[Desktop Entry]
Name=Text Editor
Name[ar]=Text Editor
Name[ast]=Text Editor
Name[be]=Text Editor
Name[bg]=Text Editor
Name[ca]=Text Editor
Name[cs]=Text Editor
Name[da]=Text Editor
Name[de]=Text Editor
Name[el]=Text Editor
Name[en_AU]=Text Editor
Name[en_GB]=Text Editor
Name[es]=Text Editor
Name[et]=Text Editor
Name[eu]=Text Editor
Name[fi]=Text Editor
Name[fr]=Text Editor
Name[gl]=Text Editor
Name[he]=Text Editor
Name[hr]=Text Editor
Name[hu]=Text Editor
Name[hy_AM]=Text Editor
Name[hye]=Text Editor
Name[id]=Text Editor
Name[ie]=Text Editor
Name[is]=Text Editor
Name[it]=Text Editor
Name[ja]=Text Editor
Name[kk]=Text Editor
Name[ko]=Text Editor
Name[lt]=Text Editor
Name[ms]=Text Editor
Name[nb]=Text Editor
Name[nl]=Text Editor
Name[nn]=Text Editor
Name[oc]=Text Editor
Name[pl]=Text Editor
Name[pt]=Text Editor
Name[pt_BR]=Text Editor
Name[ro]=Text Editor
Name[ru]=Text Editor
Name[sk]=Text Editor
Name[sl]=Text Editor
Name[sq]=Text Editor
Name[sr]=Text Editor
Name[sv]=Text Editor
Name[te]=Text Editor
Name[th]=Text Editor
Name[tr]=Text Editor
Name[ug]=Text Editor
Name[uk]=Text Editor
Name[zh_CN]=Text Editor
Name[zh_TW]=Text Editor
Comment=Simple Text Editor
Comment[ar]=Simple Text Editor
Comment[ast]=Simple Text Editor
Comment[be]=Simple Text Editor
Comment[bg]=Simple Text Editor
Comment[ca]=Simple Text Editor
Comment[cs]=Simple Text Editor
Comment[da]=Simple Text Editor
Comment[de]=Simple Text Editor
Comment[el]=Simple Text Editor
Comment[en_AU]=Simple Text Editor
Comment[en_GB]=Simple Text Editor
Comment[es]=Simple Text Editor
Comment[et]=Simple Text Editor
Comment[eu]=Simple Text Editor
Comment[fi]=Simple Text Editor
Comment[fr]=Simple Text Editor
Comment[gl]=Simple Text Editor
Comment[he]=Simple Text Editor
Comment[hr]=Simple Text Editor
Comment[hu]=Simple Text Editor
Comment[hy_AM]=Simple Text Editor
Comment[hye]=Simple Text Editor
Comment[id]=Simple Text Editor
Comment[ie]=Simple Text Editor
Comment[is]=Simple Text Editor
Comment[it]=Simple Text Editor
Comment[ja]=Simple Text Editor
Comment[kk]=Simple Text Editor
Comment[ko]=Simple Text Editor
Comment[lt]=Simple Text Editor
Comment[ms]=Simple Text Editor
Comment[nb]=Simple Text Editor
Comment[nl]=Simple Text Editor
Comment[nn]=Simple Text Editor
Comment[oc]=Simple Text Editor
Comment[pl]=Simple Text Editor
Comment[pt]=Simple Text Editor
Comment[pt_BR]=Simple Text Editor
Comment[ro]=Simple Text Editor
Comment[ru]=Simple Text Editor
Comment[sk]=Simple Text Editor
Comment[sl]=Simple Text Editor
Comment[sq]=Simple Text Editor
Comment[sr]=Simple Text Editor
Comment[sv]=Simple Text Editor
Comment[te]=Simple Text Editor
Comment[th]=Simple Text Editor
Comment[tr]=Simple Text Editor
Comment[ug]=Simple Text Editor
Comment[uk]=Simple Text Editor
Comment[zh_CN]=Simple Text Editor
Comment[zh_TW]=Simple Text Editor
TryExec=mousepad
Exec=mousepad
Icon=accessories-text-editor
Terminal=false
StartupNotify=true
Type=Application
Categories=Utility;TextEditor;
OnlyShowIn=XFCE;
Hidden=true

