[Desktop Entry]
Version=1.0
Name=Xfce Terminal
Comment=Terminal Emulator
GenericName=Terminal Emulator
Exec=xfce4-terminal --geometry 100x24+236+126
Icon=org.xfce.terminal
Terminal=false
Type=Application
Categories=GTK;System;TerminalEmulator;
StartupNotify=false
Actions=preferences;

Path=

[Desktop Action preferences]
Name=Terminal Preferences
Exec=xfce4-terminal --preferences
