[Desktop Entry]
Version=1.0
Type=Application
Exec=xfce4-session-logout
Icon=xfsm-logout
StartupNotify=false
Terminal=false
Categories=System;X-XFCE;X-Xfce-Toplevel;
OnlyShowIn=XFCE;
Name=Log Out
Name[am]=Log Out
Name[ar]=Log Out
Name[ast]=Log Out
Name[az]=Log Out
Name[be]=Log Out
Name[be@tarask]=Log Out
Name[bg]=Log Out
Name[bn]=Log Out
Name[ca]=Log Out
Name[cs]=Log Out
Name[da]=Log Out
Name[de]=Log Out
Name[el]=Log Out
Name[en_AU]=Log Out
Name[en_CA]=Log Out
Name[en_GB]=Log Out
Name[eo]=Log Out
Name[es]=Log Out
Name[et]=Log Out
Name[eu]=Log Out
Name[fa_IR]=Log Out
Name[fi]=Log Out
Name[fr]=Log Out
Name[gl]=Log Out
Name[he]=Log Out
Name[hi]=Log Out
Name[hr]=Log Out
Name[hu]=Log Out
Name[hy_AM]=Log Out
Name[hye]=Log Out
Name[id]=Log Out
Name[ie]=Log Out
Name[is]=Log Out
Name[it]=Log Out
Name[ja]=Log Out
Name[kk]=Log Out
Name[ko]=Log Out
Name[lt]=Log Out
Name[lv]=Log Out
Name[ms]=Log Out
Name[nb]=Log Out
Name[nl]=Log Out
Name[nn]=Log Out
Name[oc]=Log Out
Name[pl]=Log Out
Name[pt]=Log Out
Name[pt_BR]=Log Out
Name[ro]=Log Out
Name[ru]=Log Out
Name[si]=Log Out
Name[sk]=Log Out
Name[sl]=Log Out
Name[sq]=Log Out
Name[sr]=Log Out
Name[sv]=Log Out
Name[te]=Log Out
Name[th]=Log Out
Name[tr]=Log Out
Name[ug]=Log Out
Name[uk]=Log Out
Name[ur]=Log Out
Name[ur_PK]=Log Out
Name[vi]=Log Out
Name[zh_CN]=Log Out
Name[zh_HK]=Log Out
Name[zh_TW]=Log Out
Comment=Log out of the Xfce Desktop
Comment[ar]=Log out of the Xfce Desktop
Comment[ast]=Log out of the Xfce Desktop
Comment[az]=Log out of the Xfce Desktop
Comment[be]=Log out of the Xfce Desktop
Comment[be@tarask]=Log out of the Xfce Desktop
Comment[bg]=Log out of the Xfce Desktop
Comment[ca]=Log out of the Xfce Desktop
Comment[cs]=Log out of the Xfce Desktop
Comment[da]=Log out of the Xfce Desktop
Comment[de]=Log out of the Xfce Desktop
Comment[el]=Log out of the Xfce Desktop
Comment[en_AU]=Log out of the Xfce Desktop
Comment[en_CA]=Log out of the Xfce Desktop
Comment[en_GB]=Log out of the Xfce Desktop
Comment[es]=Log out of the Xfce Desktop
Comment[et]=Log out of the Xfce Desktop
Comment[eu]=Log out of the Xfce Desktop
Comment[fa_IR]=Log out of the Xfce Desktop
Comment[fi]=Log out of the Xfce Desktop
Comment[fr]=Log out of the Xfce Desktop
Comment[gl]=Log out of the Xfce Desktop
Comment[he]=Log out of the Xfce Desktop
Comment[hi]=Log out of the Xfce Desktop
Comment[hr]=Log out of the Xfce Desktop
Comment[hu]=Log out of the Xfce Desktop
Comment[hy_AM]=Log out of the Xfce Desktop
Comment[hye]=Log out of the Xfce Desktop
Comment[id]=Log out of the Xfce Desktop
Comment[ie]=Log out of the Xfce Desktop
Comment[is]=Log out of the Xfce Desktop
Comment[it]=Log out of the Xfce Desktop
Comment[ja]=Log out of the Xfce Desktop
Comment[kk]=Log out of the Xfce Desktop
Comment[ko]=Log out of the Xfce Desktop
Comment[lt]=Log out of the Xfce Desktop
Comment[ms]=Log out of the Xfce Desktop
Comment[nb]=Log out of the Xfce Desktop
Comment[nl]=Log out of the Xfce Desktop
Comment[nn]=Log out of the Xfce Desktop
Comment[oc]=Log out of the Xfce Desktop
Comment[pl]=Log out of the Xfce Desktop
Comment[pt]=Log out of the Xfce Desktop
Comment[pt_BR]=Log out of the Xfce Desktop
Comment[ro]=Log out of the Xfce Desktop
Comment[ru]=Log out of the Xfce Desktop
Comment[sk]=Log out of the Xfce Desktop
Comment[sl]=Log out of the Xfce Desktop
Comment[sq]=Log out of the Xfce Desktop
Comment[sr]=Log out of the Xfce Desktop
Comment[sv]=Log out of the Xfce Desktop
Comment[te]=Log out of the Xfce Desktop
Comment[th]=Log out of the Xfce Desktop
Comment[tr]=Log out of the Xfce Desktop
Comment[ug]=Log out of the Xfce Desktop
Comment[uk]=Log out of the Xfce Desktop
Comment[vi]=Log out of the Xfce Desktop
Comment[zh_CN]=Log out of the Xfce Desktop
Comment[zh_HK]=Log out of the Xfce Desktop
Comment[zh_TW]=Log out of the Xfce Desktop
Hidden=true

