[Desktop Entry]
Version=1.0
Name=Xfce Terminal Settings
Name[ar]=Xfce Terminal Settings
Name[be]=Xfce Terminal Settings
Name[bg]=Xfce Terminal Settings
Name[ca]=Xfce Terminal Settings
Name[cs]=Xfce Terminal Settings
Name[da]=Xfce Terminal Settings
Name[de]=Xfce Terminal Settings
Name[el]=Xfce Terminal Settings
Name[es]=Xfce Terminal Settings
Name[et]=Xfce Terminal Settings
Name[eu]=Xfce Terminal Settings
Name[fi]=Xfce Terminal Settings
Name[fr]=Xfce Terminal Settings
Name[gl]=Xfce Terminal Settings
Name[he]=Xfce Terminal Settings
Name[hr]=Xfce Terminal Settings
Name[hu]=Xfce Terminal Settings
Name[id]=Xfce Terminal Settings
Name[it]=Xfce Terminal Settings
Name[ja]=Xfce Terminal Settings
Name[kk]=Xfce Terminal Settings
Name[lt]=Xfce Terminal Settings
Name[nb]=Xfce Terminal Settings
Name[nl]=Xfce Terminal Settings
Name[pl]=Xfce Terminal Settings
Name[pt]=Xfce Terminal Settings
Name[pt_BR]=Xfce Terminal Settings
Name[ru]=Xfce Terminal Settings
Name[sk]=Xfce Terminal Settings
Name[sl]=Xfce Terminal Settings
Name[sq]=Xfce Terminal Settings
Name[sr]=Xfce Terminal Settings
Name[sv]=Xfce Terminal Settings
Name[th]=Xfce Terminal Settings
Name[tr]=Xfce Terminal Settings
Name[uk]=Xfce Terminal Settings
Name[zh_CN]=Xfce Terminal Settings
Name[zh_TW]=Xfce Terminal Settings
Comment=Configure Xfce Terminal
Comment[be]=Configure Xfce Terminal
Comment[bg]=Configure Xfce Terminal
Comment[ca]=Configure Xfce Terminal
Comment[cs]=Configure Xfce Terminal
Comment[da]=Configure Xfce Terminal
Comment[de]=Configure Xfce Terminal
Comment[el]=Configure Xfce Terminal
Comment[en_AU]=Configure Xfce Terminal
Comment[en_GB]=Configure Xfce Terminal
Comment[es]=Configure Xfce Terminal
Comment[et]=Configure Xfce Terminal
Comment[eu]=Configure Xfce Terminal
Comment[fi]=Configure Xfce Terminal
Comment[fr]=Configure Xfce Terminal
Comment[gl]=Configure Xfce Terminal
Comment[he]=Configure Xfce Terminal
Comment[hr]=Configure Xfce Terminal
Comment[hu]=Configure Xfce Terminal
Comment[hy_AM]=Configure Xfce Terminal
Comment[hye]=Configure Xfce Terminal
Comment[id]=Configure Xfce Terminal
Comment[ie]=Configure Xfce Terminal
Comment[is]=Configure Xfce Terminal
Comment[it]=Configure Xfce Terminal
Comment[ja]=Configure Xfce Terminal
Comment[kk]=Configure Xfce Terminal
Comment[ko]=Configure Xfce Terminal
Comment[lt]=Configure Xfce Terminal
Comment[ms]=Configure Xfce Terminal
Comment[nb]=Configure Xfce Terminal
Comment[nl]=Configure Xfce Terminal
Comment[oc]=Configure Xfce Terminal
Comment[pl]=Configure Xfce Terminal
Comment[pt]=Configure Xfce Terminal
Comment[pt_BR]=Configure Xfce Terminal
Comment[ru]=Configure Xfce Terminal
Comment[sk]=Configure Xfce Terminal
Comment[sl]=Configure Xfce Terminal
Comment[sq]=Configure Xfce Terminal
Comment[sr]=Configure Xfce Terminal
Comment[sv]=Configure Xfce Terminal
Comment[th]=Configure Xfce Terminal
Comment[tr]=Configure Xfce Terminal
Comment[uk]=Configure Xfce Terminal
Comment[zh_CN]=Configure Xfce Terminal
Comment[zh_TW]=Configure Xfce Terminal
Exec=xfce4-terminal --preferences
Icon=org.xfce.terminal-settings
Terminal=false
Type=Application
Categories=XFCE;GTK;Settings;DesktopSettings;X-XFCE-SettingsDialog;X-XFCE-PersonalSettings;
StartupNotify=true
NotShowIn=GNOME;
Hidden=true

