[Desktop Entry]
Version=1.0
Name=Window Manager Tweaks
Name[am]=Window Manager Tweaks
Name[ar]=Window Manager Tweaks
Name[ast]=Window Manager Tweaks
Name[be]=Window Manager Tweaks
Name[be@tarask]=Window Manager Tweaks
Name[bg]=Window Manager Tweaks
Name[bn]=Window Manager Tweaks
Name[ca]=Window Manager Tweaks
Name[cs]=Window Manager Tweaks
Name[da]=Window Manager Tweaks
Name[de]=Window Manager Tweaks
Name[el]=Window Manager Tweaks
Name[en_AU]=Window Manager Tweaks
Name[en_CA]=Window Manager Tweaks
Name[en_GB]=Window Manager Tweaks
Name[eo]=Window Manager Tweaks
Name[es]=Window Manager Tweaks
Name[et]=Window Manager Tweaks
Name[eu]=Window Manager Tweaks
Name[fa_IR]=Window Manager Tweaks
Name[fi]=Window Manager Tweaks
Name[fr]=Window Manager Tweaks
Name[gl]=Window Manager Tweaks
Name[he]=Window Manager Tweaks
Name[hr]=Window Manager Tweaks
Name[hu]=Window Manager Tweaks
Name[hy_AM]=Window Manager Tweaks
Name[hye]=Window Manager Tweaks
Name[id]=Window Manager Tweaks
Name[ie]=Window Manager Tweaks
Name[is]=Window Manager Tweaks
Name[it]=Window Manager Tweaks
Name[ja]=Window Manager Tweaks
Name[ka]=Window Manager Tweaks
Name[kk]=Window Manager Tweaks
Name[ko]=Window Manager Tweaks
Name[lt]=Window Manager Tweaks
Name[lv]=Window Manager Tweaks
Name[ms]=Window Manager Tweaks
Name[nb]=Window Manager Tweaks
Name[nl]=Window Manager Tweaks
Name[nn]=Window Manager Tweaks
Name[oc]=Window Manager Tweaks
Name[pa]=Window Manager Tweaks
Name[pl]=Window Manager Tweaks
Name[pt]=Window Manager Tweaks
Name[pt_BR]=Window Manager Tweaks
Name[ro]=Window Manager Tweaks
Name[ru]=Window Manager Tweaks
Name[sk]=Window Manager Tweaks
Name[sl]=Window Manager Tweaks
Name[sq]=Window Manager Tweaks
Name[sr]=Window Manager Tweaks
Name[sv]=Window Manager Tweaks
Name[th]=Window Manager Tweaks
Name[tr]=Window Manager Tweaks
Name[ug]=Window Manager Tweaks
Name[uk]=Window Manager Tweaks
Name[ur]=Window Manager Tweaks
Name[ur_PK]=Window Manager Tweaks
Name[vi]=Window Manager Tweaks
Name[zh_CN]=Window Manager Tweaks
Name[zh_HK]=Window Manager Tweaks
Name[zh_TW]=Window Manager Tweaks
Comment=Fine-tune window behaviour and effects
Comment[ar]=Fine-tune window behaviour and effects
Comment[ast]=Fine-tune window behaviour and effects
Comment[be]=Fine-tune window behaviour and effects
Comment[be@tarask]=Fine-tune window behaviour and effects
Comment[bg]=Fine-tune window behaviour and effects
Comment[bn]=Fine-tune window behaviour and effects
Comment[ca]=Fine-tune window behaviour and effects
Comment[cs]=Fine-tune window behaviour and effects
Comment[da]=Fine-tune window behaviour and effects
Comment[de]=Fine-tune window behaviour and effects
Comment[el]=Fine-tune window behaviour and effects
Comment[en_AU]=Fine-tune window behaviour and effects
Comment[en_CA]=Fine-tune window behaviour and effects
Comment[en_GB]=Fine-tune window behaviour and effects
Comment[es]=Fine-tune window behaviour and effects
Comment[et]=Fine-tune window behaviour and effects
Comment[eu]=Fine-tune window behaviour and effects
Comment[fa_IR]=Fine-tune window behaviour and effects
Comment[fi]=Fine-tune window behaviour and effects
Comment[fr]=Fine-tune window behaviour and effects
Comment[gl]=Fine-tune window behaviour and effects
Comment[he]=Fine-tune window behaviour and effects
Comment[hr]=Fine-tune window behaviour and effects
Comment[hu]=Fine-tune window behaviour and effects
Comment[hy_AM]=Fine-tune window behaviour and effects
Comment[hye]=Fine-tune window behaviour and effects
Comment[id]=Fine-tune window behaviour and effects
Comment[ie]=Fine-tune window behaviour and effects
Comment[is]=Fine-tune window behaviour and effects
Comment[it]=Fine-tune window behaviour and effects
Comment[ja]=Fine-tune window behaviour and effects
Comment[ka]=Fine-tune window behaviour and effects
Comment[kk]=Fine-tune window behaviour and effects
Comment[ko]=Fine-tune window behaviour and effects
Comment[lt]=Fine-tune window behaviour and effects
Comment[lv]=Fine-tune window behaviour and effects
Comment[ms]=Fine-tune window behaviour and effects
Comment[nb]=Fine-tune window behaviour and effects
Comment[nl]=Fine-tune window behaviour and effects
Comment[nn]=Fine-tune window behaviour and effects
Comment[oc]=Fine-tune window behaviour and effects
Comment[pl]=Fine-tune window behaviour and effects
Comment[pt]=Fine-tune window behaviour and effects
Comment[pt_BR]=Fine-tune window behaviour and effects
Comment[ro]=Fine-tune window behaviour and effects
Comment[ru]=Fine-tune window behaviour and effects
Comment[si]=Fine-tune window behaviour and effects
Comment[sk]=Fine-tune window behaviour and effects
Comment[sl]=Fine-tune window behaviour and effects
Comment[sq]=Fine-tune window behaviour and effects
Comment[sr]=Fine-tune window behaviour and effects
Comment[sv]=Fine-tune window behaviour and effects
Comment[th]=Fine-tune window behaviour and effects
Comment[tr]=Fine-tune window behaviour and effects
Comment[ug]=Fine-tune window behaviour and effects
Comment[uk]=Fine-tune window behaviour and effects
Comment[ur]=Fine-tune window behaviour and effects
Comment[ur_PK]=Fine-tune window behaviour and effects
Comment[zh_CN]=Fine-tune window behaviour and effects
Comment[zh_HK]=Fine-tune window behaviour and effects
Comment[zh_TW]=Fine-tune window behaviour and effects
Keywords=windows;behavior;settings;preferences;cycling;cycle;switching;focus;raises;accessibility;key;dragging;move;moving;hide;frame;title bar;maximized;tile;screen;edge;hot corner;snapping;mouse wheel;roll up;workspaces;placement;compositor;compositing;enable;disable;shadows;decorations;opacity;resize;inactive;preview;compiz;transitions;
Keywords[ar]=windows;behavior;settings;preferences;cycling;cycle;switching;focus;raises;accessibility;key;dragging;move;moving;hide;frame;title bar;maximized;tile;screen;edge;hot corner;snapping;mouse wheel;roll up;workspaces;placement;compositor;compositing;enable;disable;shadows;decorations;opacity;resize;inactive;preview;compiz;transitions;
Keywords[be]=windows;behavior;settings;preferences;cycling;cycle;switching;focus;raises;accessibility;key;dragging;move;moving;hide;frame;title bar;maximized;tile;screen;edge;hot corner;snapping;mouse wheel;roll up;workspaces;placement;compositor;compositing;enable;disable;shadows;decorations;opacity;resize;inactive;preview;compiz;transitions;
Keywords[be@tarask]=windows;behavior;settings;preferences;cycling;cycle;switching;focus;raises;accessibility;key;dragging;move;moving;hide;frame;title bar;maximized;tile;screen;edge;hot corner;snapping;mouse wheel;roll up;workspaces;placement;compositor;compositing;enable;disable;shadows;decorations;opacity;resize;inactive;preview;compiz;transitions;
Keywords[bg]=windows;behavior;settings;preferences;cycling;cycle;switching;focus;raises;accessibility;key;dragging;move;moving;hide;frame;title bar;maximized;tile;screen;edge;hot corner;snapping;mouse wheel;roll up;workspaces;placement;compositor;compositing;enable;disable;shadows;decorations;opacity;resize;inactive;preview;compiz;transitions;
Keywords[ca]=windows;behavior;settings;preferences;cycling;cycle;switching;focus;raises;accessibility;key;dragging;move;moving;hide;frame;title bar;maximized;tile;screen;edge;hot corner;snapping;mouse wheel;roll up;workspaces;placement;compositor;compositing;enable;disable;shadows;decorations;opacity;resize;inactive;preview;compiz;transitions;
Keywords[cs]=windows;behavior;settings;preferences;cycling;cycle;switching;focus;raises;accessibility;key;dragging;move;moving;hide;frame;title bar;maximized;tile;screen;edge;hot corner;snapping;mouse wheel;roll up;workspaces;placement;compositor;compositing;enable;disable;shadows;decorations;opacity;resize;inactive;preview;compiz;transitions;
Keywords[da]=windows;behavior;settings;preferences;cycling;cycle;switching;focus;raises;accessibility;key;dragging;move;moving;hide;frame;title bar;maximized;tile;screen;edge;hot corner;snapping;mouse wheel;roll up;workspaces;placement;compositor;compositing;enable;disable;shadows;decorations;opacity;resize;inactive;preview;compiz;transitions;
Keywords[de]=windows;behavior;settings;preferences;cycling;cycle;switching;focus;raises;accessibility;key;dragging;move;moving;hide;frame;title bar;maximized;tile;screen;edge;hot corner;snapping;mouse wheel;roll up;workspaces;placement;compositor;compositing;enable;disable;shadows;decorations;opacity;resize;inactive;preview;compiz;transitions;
Keywords[en_CA]=windows;behavior;settings;preferences;cycling;cycle;switching;focus;raises;accessibility;key;dragging;move;moving;hide;frame;title bar;maximized;tile;screen;edge;hot corner;snapping;mouse wheel;roll up;workspaces;placement;compositor;compositing;enable;disable;shadows;decorations;opacity;resize;inactive;preview;compiz;transitions;
Keywords[en_GB]=windows;behavior;settings;preferences;cycling;cycle;switching;focus;raises;accessibility;key;dragging;move;moving;hide;frame;title bar;maximized;tile;screen;edge;hot corner;snapping;mouse wheel;roll up;workspaces;placement;compositor;compositing;enable;disable;shadows;decorations;opacity;resize;inactive;preview;compiz;transitions;
Keywords[es]=windows;behavior;settings;preferences;cycling;cycle;switching;focus;raises;accessibility;key;dragging;move;moving;hide;frame;title bar;maximized;tile;screen;edge;hot corner;snapping;mouse wheel;roll up;workspaces;placement;compositor;compositing;enable;disable;shadows;decorations;opacity;resize;inactive;preview;compiz;transitions;
Keywords[et]=windows;behavior;settings;preferences;cycling;cycle;switching;focus;raises;accessibility;key;dragging;move;moving;hide;frame;title bar;maximized;tile;screen;edge;hot corner;snapping;mouse wheel;roll up;workspaces;placement;compositor;compositing;enable;disable;shadows;decorations;opacity;resize;inactive;preview;compiz;transitions;
Keywords[eu]=windows;behavior;settings;preferences;cycling;cycle;switching;focus;raises;accessibility;key;dragging;move;moving;hide;frame;title bar;maximized;tile;screen;edge;hot corner;snapping;mouse wheel;roll up;workspaces;placement;compositor;compositing;enable;disable;shadows;decorations;opacity;resize;inactive;preview;compiz;transitions;
Keywords[fa_IR]=windows;behavior;settings;preferences;cycling;cycle;switching;focus;raises;accessibility;key;dragging;move;moving;hide;frame;title bar;maximized;tile;screen;edge;hot corner;snapping;mouse wheel;roll up;workspaces;placement;compositor;compositing;enable;disable;shadows;decorations;opacity;resize;inactive;preview;compiz;transitions;
Keywords[fr]=windows;behavior;settings;preferences;cycling;cycle;switching;focus;raises;accessibility;key;dragging;move;moving;hide;frame;title bar;maximized;tile;screen;edge;hot corner;snapping;mouse wheel;roll up;workspaces;placement;compositor;compositing;enable;disable;shadows;decorations;opacity;resize;inactive;preview;compiz;transitions;
Keywords[gl]=windows;behavior;settings;preferences;cycling;cycle;switching;focus;raises;accessibility;key;dragging;move;moving;hide;frame;title bar;maximized;tile;screen;edge;hot corner;snapping;mouse wheel;roll up;workspaces;placement;compositor;compositing;enable;disable;shadows;decorations;opacity;resize;inactive;preview;compiz;transitions;
Keywords[he]=windows;behavior;settings;preferences;cycling;cycle;switching;focus;raises;accessibility;key;dragging;move;moving;hide;frame;title bar;maximized;tile;screen;edge;hot corner;snapping;mouse wheel;roll up;workspaces;placement;compositor;compositing;enable;disable;shadows;decorations;opacity;resize;inactive;preview;compiz;transitions;
Keywords[id]=windows;behavior;settings;preferences;cycling;cycle;switching;focus;raises;accessibility;key;dragging;move;moving;hide;frame;title bar;maximized;tile;screen;edge;hot corner;snapping;mouse wheel;roll up;workspaces;placement;compositor;compositing;enable;disable;shadows;decorations;opacity;resize;inactive;preview;compiz;transitions;
Keywords[it]=windows;behavior;settings;preferences;cycling;cycle;switching;focus;raises;accessibility;key;dragging;move;moving;hide;frame;title bar;maximized;tile;screen;edge;hot corner;snapping;mouse wheel;roll up;workspaces;placement;compositor;compositing;enable;disable;shadows;decorations;opacity;resize;inactive;preview;compiz;transitions;
Keywords[ja]=windows;behavior;settings;preferences;cycling;cycle;switching;focus;raises;accessibility;key;dragging;move;moving;hide;frame;title bar;maximized;tile;screen;edge;hot corner;snapping;mouse wheel;roll up;workspaces;placement;compositor;compositing;enable;disable;shadows;decorations;opacity;resize;inactive;preview;compiz;transitions;
Keywords[ka]=windows;behavior;settings;preferences;cycling;cycle;switching;focus;raises;accessibility;key;dragging;move;moving;hide;frame;title bar;maximized;tile;screen;edge;hot corner;snapping;mouse wheel;roll up;workspaces;placement;compositor;compositing;enable;disable;shadows;decorations;opacity;resize;inactive;preview;compiz;transitions;
Keywords[kk]=windows;behavior;settings;preferences;cycling;cycle;switching;focus;raises;accessibility;key;dragging;move;moving;hide;frame;title bar;maximized;tile;screen;edge;hot corner;snapping;mouse wheel;roll up;workspaces;placement;compositor;compositing;enable;disable;shadows;decorations;opacity;resize;inactive;preview;compiz;transitions;
Keywords[ko]=windows;behavior;settings;preferences;cycling;cycle;switching;focus;raises;accessibility;key;dragging;move;moving;hide;frame;title bar;maximized;tile;screen;edge;hot corner;snapping;mouse wheel;roll up;workspaces;placement;compositor;compositing;enable;disable;shadows;decorations;opacity;resize;inactive;preview;compiz;transitions;
Keywords[lt]=windows;behavior;settings;preferences;cycling;cycle;switching;focus;raises;accessibility;key;dragging;move;moving;hide;frame;title bar;maximized;tile;screen;edge;hot corner;snapping;mouse wheel;roll up;workspaces;placement;compositor;compositing;enable;disable;shadows;decorations;opacity;resize;inactive;preview;compiz;transitions;
Keywords[ms]=windows;behavior;settings;preferences;cycling;cycle;switching;focus;raises;accessibility;key;dragging;move;moving;hide;frame;title bar;maximized;tile;screen;edge;hot corner;snapping;mouse wheel;roll up;workspaces;placement;compositor;compositing;enable;disable;shadows;decorations;opacity;resize;inactive;preview;compiz;transitions;
Keywords[nb]=windows;behavior;settings;preferences;cycling;cycle;switching;focus;raises;accessibility;key;dragging;move;moving;hide;frame;title bar;maximized;tile;screen;edge;hot corner;snapping;mouse wheel;roll up;workspaces;placement;compositor;compositing;enable;disable;shadows;decorations;opacity;resize;inactive;preview;compiz;transitions;
Keywords[nl]=windows;behavior;settings;preferences;cycling;cycle;switching;focus;raises;accessibility;key;dragging;move;moving;hide;frame;title bar;maximized;tile;screen;edge;hot corner;snapping;mouse wheel;roll up;workspaces;placement;compositor;compositing;enable;disable;shadows;decorations;opacity;resize;inactive;preview;compiz;transitions;
Keywords[oc]=windows;behavior;settings;preferences;cycling;cycle;switching;focus;raises;accessibility;key;dragging;move;moving;hide;frame;title bar;maximized;tile;screen;edge;hot corner;snapping;mouse wheel;roll up;workspaces;placement;compositor;compositing;enable;disable;shadows;decorations;opacity;resize;inactive;preview;compiz;transitions;
Keywords[pl]=windows;behavior;settings;preferences;cycling;cycle;switching;focus;raises;accessibility;key;dragging;move;moving;hide;frame;title bar;maximized;tile;screen;edge;hot corner;snapping;mouse wheel;roll up;workspaces;placement;compositor;compositing;enable;disable;shadows;decorations;opacity;resize;inactive;preview;compiz;transitions;
Keywords[pt]=windows;behavior;settings;preferences;cycling;cycle;switching;focus;raises;accessibility;key;dragging;move;moving;hide;frame;title bar;maximized;tile;screen;edge;hot corner;snapping;mouse wheel;roll up;workspaces;placement;compositor;compositing;enable;disable;shadows;decorations;opacity;resize;inactive;preview;compiz;transitions;
Keywords[pt_BR]=windows;behavior;settings;preferences;cycling;cycle;switching;focus;raises;accessibility;key;dragging;move;moving;hide;frame;title bar;maximized;tile;screen;edge;hot corner;snapping;mouse wheel;roll up;workspaces;placement;compositor;compositing;enable;disable;shadows;decorations;opacity;resize;inactive;preview;compiz;transitions;
Keywords[ru]=windows;behavior;settings;preferences;cycling;cycle;switching;focus;raises;accessibility;key;dragging;move;moving;hide;frame;title bar;maximized;tile;screen;edge;hot corner;snapping;mouse wheel;roll up;workspaces;placement;compositor;compositing;enable;disable;shadows;decorations;opacity;resize;inactive;preview;compiz;transitions;
Keywords[sl]=windows;behavior;settings;preferences;cycling;cycle;switching;focus;raises;accessibility;key;dragging;move;moving;hide;frame;title bar;maximized;tile;screen;edge;hot corner;snapping;mouse wheel;roll up;workspaces;placement;compositor;compositing;enable;disable;shadows;decorations;opacity;resize;inactive;preview;compiz;transitions;
Keywords[sq]=windows;behavior;settings;preferences;cycling;cycle;switching;focus;raises;accessibility;key;dragging;move;moving;hide;frame;title bar;maximized;tile;screen;edge;hot corner;snapping;mouse wheel;roll up;workspaces;placement;compositor;compositing;enable;disable;shadows;decorations;opacity;resize;inactive;preview;compiz;transitions;
Keywords[sr]=windows;behavior;settings;preferences;cycling;cycle;switching;focus;raises;accessibility;key;dragging;move;moving;hide;frame;title bar;maximized;tile;screen;edge;hot corner;snapping;mouse wheel;roll up;workspaces;placement;compositor;compositing;enable;disable;shadows;decorations;opacity;resize;inactive;preview;compiz;transitions;
Keywords[sv]=windows;behavior;settings;preferences;cycling;cycle;switching;focus;raises;accessibility;key;dragging;move;moving;hide;frame;title bar;maximized;tile;screen;edge;hot corner;snapping;mouse wheel;roll up;workspaces;placement;compositor;compositing;enable;disable;shadows;decorations;opacity;resize;inactive;preview;compiz;transitions;
Keywords[th]=windows;behavior;settings;preferences;cycling;cycle;switching;focus;raises;accessibility;key;dragging;move;moving;hide;frame;title bar;maximized;tile;screen;edge;hot corner;snapping;mouse wheel;roll up;workspaces;placement;compositor;compositing;enable;disable;shadows;decorations;opacity;resize;inactive;preview;compiz;transitions;
Keywords[tr]=windows;behavior;settings;preferences;cycling;cycle;switching;focus;raises;accessibility;key;dragging;move;moving;hide;frame;title bar;maximized;tile;screen;edge;hot corner;snapping;mouse wheel;roll up;workspaces;placement;compositor;compositing;enable;disable;shadows;decorations;opacity;resize;inactive;preview;compiz;transitions;
Keywords[uk]=windows;behavior;settings;preferences;cycling;cycle;switching;focus;raises;accessibility;key;dragging;move;moving;hide;frame;title bar;maximized;tile;screen;edge;hot corner;snapping;mouse wheel;roll up;workspaces;placement;compositor;compositing;enable;disable;shadows;decorations;opacity;resize;inactive;preview;compiz;transitions;
Keywords[zh_CN]=windows;behavior;settings;preferences;cycling;cycle;switching;focus;raises;accessibility;key;dragging;move;moving;hide;frame;title bar;maximized;tile;screen;edge;hot corner;snapping;mouse wheel;roll up;workspaces;placement;compositor;compositing;enable;disable;shadows;decorations;opacity;resize;inactive;preview;compiz;transitions;
Exec=xfwm4-tweaks-settings
Icon=org.xfce.xfwm4-tweaks
Terminal=false
Type=Application
Categories=XFCE;GTK;Settings;DesktopSettings;X-XFCE-SettingsDialog;X-XFCE-PersonalSettings;
StartupNotify=true
OnlyShowIn=XFCE;
X-XfcePluggable=true
X-XfceHelpComponent=xfwm4
X-XfceHelpPage=wmtweaks
Hidden=true

