[Desktop Entry]
Version=1.0
Type=Application
Name=disable ssh
Comment=disable ssh on login startup
Exec=sudo systemctl stop ssh.service
Terminal=false
StartupNotify=false
